body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:399px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3065 {
  position:absolute;
  left:12px;
  top:-6px;
  width:597px;
  height:399px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:192px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3067 {
  position:absolute;
  left:71px;
  top:30px;
  width:478px;
  height:30px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:7px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3069 {
  position:absolute;
  left:81px;
  top:37px;
  width:99px;
  height:16px;
}
#u3070 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3071 {
  position:absolute;
  left:510px;
  top:37px;
  width:32px;
  height:16px;
  text-align:center;
}
#u3072 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3073 {
  position:absolute;
  left:71px;
  top:59px;
  width:478px;
  height:243px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:114px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3075 {
  position:absolute;
  left:334px;
  top:254px;
  width:75px;
  height:31px;
}
#u3076 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3077 {
  position:absolute;
  left:212px;
  top:254px;
  width:75px;
  height:31px;
}
#u3078 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3079 {
  position:absolute;
  left:92px;
  top:140px;
  width:455px;
  height:95px;
}
#u3080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u3082 {
  position:absolute;
  left:50px;
  top:0px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3083 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3084 {
  position:absolute;
  left:350px;
  top:0px;
  width:100px;
  height:30px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3086 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u3087 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u3088 {
  position:absolute;
  left:50px;
  top:30px;
  width:300px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u3089 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3090 {
  position:absolute;
  left:350px;
  top:30px;
  width:100px;
  height:30px;
}
#u3091 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3092 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u3094 {
  position:absolute;
  left:50px;
  top:60px;
  width:300px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u3095 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3096 {
  position:absolute;
  left:350px;
  top:60px;
  width:100px;
  height:30px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3098 {
  position:absolute;
  left:468px;
  top:177px;
  width:58px;
  height:16px;
}
#u3099 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3098_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3100 {
  position:absolute;
  left:468px;
  top:207px;
  width:58px;
  height:16px;
}
#u3101 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3102 {
  position:absolute;
  left:92px;
  top:76px;
  width:411px;
  height:38px;
}
#u3103 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
