body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4457 {
  position:absolute;
  left:20px;
  top:13px;
  width:868px;
  height:497px;
}
#u4458 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4459 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:451px;
}
#u4460 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4461 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u4462 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u4463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:16px;
}
#u4463 {
  position:absolute;
  left:200px;
  top:85px;
  width:515px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4464 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  white-space:nowrap;
}
#u4465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4466 {
  position:absolute;
  left:86px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4467 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4468 {
  position:absolute;
  left:122px;
  top:335px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4469 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4470 {
  position:absolute;
  left:98px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4471 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4473 {
  position:absolute;
  left:212px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4474 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4475 {
  position:absolute;
  left:248px;
  top:335px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4476 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4477 {
  position:absolute;
  left:224px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4478 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4480 {
  position:absolute;
  left:338px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4481 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u4482 {
  position:absolute;
  left:374px;
  top:335px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4483 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4484 {
  position:absolute;
  left:350px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4485 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4487 {
  position:absolute;
  left:86px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4488 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4489 {
  position:absolute;
  left:120px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4490 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4491 {
  position:absolute;
  left:98px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4492 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4494 {
  position:absolute;
  left:212px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4495 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4496 {
  position:absolute;
  left:248px;
  top:131px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4497 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4498 {
  position:absolute;
  left:224px;
  top:161px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4499 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4501 {
  position:absolute;
  left:338px;
  top:118px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4502 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4503 {
  position:absolute;
  left:374px;
  top:131px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4504 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4505 {
  position:absolute;
  left:350px;
  top:161px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4506 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4508 {
  position:absolute;
  left:461px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4509 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4510 {
  position:absolute;
  left:495px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4511 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4512 {
  position:absolute;
  left:473px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4513 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4515 {
  position:absolute;
  left:586px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4516 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4517 {
  position:absolute;
  left:620px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4518 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4519 {
  position:absolute;
  left:598px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4520 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4522 {
  position:absolute;
  left:719px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4523 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4524 {
  position:absolute;
  left:753px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4525 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4526 {
  position:absolute;
  left:731px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4527 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4528 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4529 {
  position:absolute;
  left:86px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4530 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4531 {
  position:absolute;
  left:120px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4532 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4533 {
  position:absolute;
  left:98px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4534 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4536 {
  position:absolute;
  left:212px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4537 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4538 {
  position:absolute;
  left:246px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4539 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4540 {
  position:absolute;
  left:224px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4541 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4542 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4543 {
  position:absolute;
  left:719px;
  top:219px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4544 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4545 {
  position:absolute;
  left:755px;
  top:232px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4546 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4547 {
  position:absolute;
  left:731px;
  top:262px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4548 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4550 {
  position:absolute;
  left:338px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4551 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4552 {
  position:absolute;
  left:372px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4553 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4554 {
  position:absolute;
  left:350px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4555 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4556 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4557 {
  position:absolute;
  left:461px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4558 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4559 {
  position:absolute;
  left:495px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4560 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4561 {
  position:absolute;
  left:473px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4562 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4563 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4564 {
  position:absolute;
  left:586px;
  top:219px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4565 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4566 {
  position:absolute;
  left:622px;
  top:232px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4567 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4568 {
  position:absolute;
  left:598px;
  top:262px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4569 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u4570 {
  position:absolute;
  left:53px;
  top:425px;
  width:806px;
  height:1px;
}
#u4571 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4572 {
  position:absolute;
  left:522px;
  top:442px;
  width:75px;
  height:31px;
}
#u4573 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u4574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4574 {
  position:absolute;
  left:400px;
  top:442px;
  width:75px;
  height:31px;
}
#u4575 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u4576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4576 {
  position:absolute;
  left:785px;
  top:42px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u4577 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
