body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:399px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3856 {
  position:absolute;
  left:10px;
  top:20px;
  width:597px;
  height:399px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:192px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3858 {
  position:absolute;
  left:72px;
  top:107px;
  width:478px;
  height:30px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:7px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3860 {
  position:absolute;
  left:86px;
  top:114px;
  width:99px;
  height:16px;
}
#u3861 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3862 {
  position:absolute;
  left:511px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3864 {
  position:absolute;
  left:72px;
  top:136px;
  width:478px;
  height:196px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:90px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3866 {
  position:absolute;
  left:332px;
  top:245px;
  width:75px;
  height:31px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3868 {
  position:absolute;
  left:210px;
  top:245px;
  width:75px;
  height:31px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3870 {
  position:absolute;
  left:117px;
  top:179px;
  width:299px;
  height:19px;
  font-size:16px;
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3872 {
  position:absolute;
  left:117px;
  top:208px;
  width:295px;
  height:16px;
  color:#999999;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
