body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  position:absolute;
  left:14px;
  top:20px;
  width:1022px;
  height:627px;
}
#u2433 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2434 {
  position:absolute;
  left:254px;
  top:96px;
  width:226px;
  height:58px;
}
#u2435 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2436 {
  position:absolute;
  left:479px;
  top:96px;
  width:226px;
  height:58px;
}
#u2437 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2438 {
  position:absolute;
  left:295px;
  top:104px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2439 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2440 {
  position:absolute;
  left:518px;
  top:104px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2441 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2442 {
  position:absolute;
  left:14px;
  top:20px;
  width:1022px;
  height:62px;
}
#u2443 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2444 {
  position:absolute;
  left:30px;
  top:30px;
  width:40px;
  height:40px;
}
#u2445 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u2446 {
  position:absolute;
  left:82px;
  top:30px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u2447 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2448 {
  position:absolute;
  left:30px;
  top:30px;
  width:40px;
  height:40px;
}
#u2449 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2450 {
  position:absolute;
  left:30px;
  top:96px;
  width:226px;
  height:58px;
}
#u2451 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2452 {
  position:absolute;
  left:69px;
  top:104px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2453 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2455 {
  position:absolute;
  left:952px;
  top:33px;
  width:34px;
  height:34px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2457 {
  position:absolute;
  left:1000px;
  top:33px;
  width:34px;
  height:34px;
}
#u2458 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2459 {
  position:absolute;
  left:904px;
  top:33px;
  width:34px;
  height:34px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2461 {
  position:absolute;
  left:910px;
  top:39px;
  width:22px;
  height:22px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2463 {
  position:absolute;
  left:959px;
  top:40px;
  width:20px;
  height:20px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2465 {
  position:absolute;
  left:1005px;
  top:38px;
  width:24px;
  height:24px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2467 {
  position:absolute;
  left:444px;
  top:109px;
  width:12px;
  height:12px;
}
#u2468 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2469 {
  position:absolute;
  left:218px;
  top:109px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u2470 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:890px;
  top:32px;
  width:144px;
  height:48px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2474 {
  position:absolute;
  left:833px;
  top:42px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2475 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2476 {
  position:absolute;
  left:794px;
  top:34px;
  width:32px;
  height:32px;
}
#u2477 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2478 {
  position:absolute;
  left:933px;
  top:35px;
  width:22px;
  height:22px;
}
#u2479 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u2481 {
  position:absolute;
  left:468px;
  top:40px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u2482 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u2483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2483 {
  position:absolute;
  left:646px;
  top:43px;
  width:20px;
  height:20px;
}
#u2484 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2486 {
  position:absolute;
  left:694px;
  top:39px;
  width:26px;
  height:26px;
}
#u2487 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2488 {
  position:absolute;
  left:711px;
  top:38px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u2489 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u2490 {
  position:absolute;
  left:989px;
  top:42px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u2491 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2492 {
  position:absolute;
  left:969px;
  top:40px;
  width:1px;
  height:20px;
}
#u2493 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2495 {
  position:absolute;
  left:745px;
  top:39px;
  width:26px;
  height:26px;
}
#u2496 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2497 {
  position:absolute;
  left:762px;
  top:38px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u2498 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u2499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:509px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2499 {
  position:absolute;
  left:14px;
  top:129px;
  width:1022px;
  height:509px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:246px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:502px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2501 {
  position:absolute;
  left:15px;
  top:136px;
  width:178px;
  height:502px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:243px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2503 {
  position:absolute;
  left:15px;
  top:219px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u2505 {
  position:absolute;
  left:15px;
  top:366px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2506 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u2507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2507 {
  position:absolute;
  left:15px;
  top:302px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2508 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2509 {
  position:absolute;
  left:76px;
  top:135px;
  width:94px;
  height:502px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:243px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2511 {
  position:absolute;
  left:171px;
  top:135px;
  width:864px;
  height:502px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:243px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u2513 {
  position:absolute;
  left:15px;
  top:454px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u2515 {
  position:absolute;
  left:15px;
  top:518px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u2517 {
  position:absolute;
  left:143px;
  top:549px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2518 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2519 {
  position:absolute;
  left:95px;
  top:305px;
  width:61px;
  height:57px;
  font-size:14px;
}
#u2520 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2521 {
  position:absolute;
  left:95px;
  top:149px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u2522 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2523 {
  position:absolute;
  left:95px;
  top:452px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:20px;
  width:57px;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2525 {
  position:absolute;
  left:95px;
  top:379px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:20px;
  width:57px;
  word-wrap:break-word;
}
#u2527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2527 {
  position:absolute;
  left:95px;
  top:231px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u2528 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2529 {
  position:absolute;
  left:95px;
  top:527px;
  width:61px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2530 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2531 {
  position:absolute;
  left:14px;
  top:135px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2532 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
}
#u2533 {
  position:absolute;
  left:470px;
  top:154px;
  width:180px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u2534 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u2535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:2px;
}
#u2535 {
  position:absolute;
  left:180px;
  top:199px;
  width:849px;
  height:1px;
}
#u2536 {
  position:absolute;
  left:2px;
  top:-8px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2537 {
  position:absolute;
  left:887px;
  top:160px;
  width:127px;
  height:16px;
  text-decoration:underline;
  color:#999999;
}
#u2538 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2539 {
  position:absolute;
  left:186px;
  top:225px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2541 {
  position:absolute;
  left:260px;
  top:224px;
  width:69px;
  height:23px;
}
#u2541_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2541_input:disabled {
  color:grayText;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2542 {
  position:absolute;
  left:375px;
  top:226px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2543 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  position:absolute;
  left:424px;
  top:224px;
  width:132px;
  height:23px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  position:absolute;
  left:619px;
  top:224px;
  width:75px;
  height:23px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2548 {
  position:absolute;
  left:186px;
  top:272px;
  width:785px;
  height:125px;
}
#u2549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u2549 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u2550 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u2551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u2551 {
  position:absolute;
  left:130px;
  top:0px;
  width:400px;
  height:36px;
}
#u2552 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u2553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u2553 {
  position:absolute;
  left:530px;
  top:0px;
  width:250px;
  height:36px;
}
#u2554 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u2555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:84px;
}
#u2555 {
  position:absolute;
  left:0px;
  top:36px;
  width:130px;
  height:84px;
  font-size:11px;
  text-decoration:underline;
  color:#008000;
}
#u2556 {
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u2557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:84px;
}
#u2557 {
  position:absolute;
  left:130px;
  top:36px;
  width:400px;
  height:84px;
  text-align:left;
}
#u2558 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u2559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:84px;
}
#u2559 {
  position:absolute;
  left:530px;
  top:36px;
  width:250px;
  height:84px;
}
#u2560 {
  position:absolute;
  left:2px;
  top:34px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
