body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5571 {
  position:absolute;
  left:20px;
  top:13px;
  width:868px;
  height:497px;
}
#u5572 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5573 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:451px;
}
#u5574 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5575 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u5576 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u5577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:16px;
}
#u5577 {
  position:absolute;
  left:200px;
  top:85px;
  width:515px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u5578 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  white-space:nowrap;
}
#u5579 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5580 {
  position:absolute;
  left:86px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5581 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5582 {
  position:absolute;
  left:122px;
  top:335px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5583 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5584 {
  position:absolute;
  left:98px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5585 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5587 {
  position:absolute;
  left:212px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5588 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5589 {
  position:absolute;
  left:248px;
  top:335px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5590 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5591 {
  position:absolute;
  left:224px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5592 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5594 {
  position:absolute;
  left:338px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5595 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u5596 {
  position:absolute;
  left:374px;
  top:335px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5597 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5598 {
  position:absolute;
  left:350px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5599 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5600 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5601 {
  position:absolute;
  left:86px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5602 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5603 {
  position:absolute;
  left:120px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5604 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5605 {
  position:absolute;
  left:98px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5606 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5608 {
  position:absolute;
  left:212px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5609 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5610 {
  position:absolute;
  left:248px;
  top:131px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5611 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5612 {
  position:absolute;
  left:224px;
  top:161px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5613 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5615 {
  position:absolute;
  left:338px;
  top:118px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5616 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5617 {
  position:absolute;
  left:374px;
  top:131px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5618 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5619 {
  position:absolute;
  left:350px;
  top:161px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5620 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5622 {
  position:absolute;
  left:461px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5623 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5624 {
  position:absolute;
  left:495px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5625 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5626 {
  position:absolute;
  left:473px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5627 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5629 {
  position:absolute;
  left:586px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5630 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5631 {
  position:absolute;
  left:620px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5632 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5633 {
  position:absolute;
  left:598px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5634 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5636 {
  position:absolute;
  left:719px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5637 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5638 {
  position:absolute;
  left:753px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5639 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5640 {
  position:absolute;
  left:731px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5641 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5643 {
  position:absolute;
  left:86px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5644 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5645 {
  position:absolute;
  left:120px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5646 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5647 {
  position:absolute;
  left:98px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5648 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5650 {
  position:absolute;
  left:212px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5651 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5652 {
  position:absolute;
  left:246px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5653 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5654 {
  position:absolute;
  left:224px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5655 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5657 {
  position:absolute;
  left:719px;
  top:219px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5658 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5659 {
  position:absolute;
  left:755px;
  top:232px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5660 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5661 {
  position:absolute;
  left:731px;
  top:262px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5664 {
  position:absolute;
  left:338px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5665 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5666 {
  position:absolute;
  left:372px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5667 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5668 {
  position:absolute;
  left:350px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5669 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5671 {
  position:absolute;
  left:461px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5672 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5673 {
  position:absolute;
  left:495px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5674 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5675 {
  position:absolute;
  left:473px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5676 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5678 {
  position:absolute;
  left:586px;
  top:219px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5679 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5680 {
  position:absolute;
  left:622px;
  top:232px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5682 {
  position:absolute;
  left:598px;
  top:262px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u5684 {
  position:absolute;
  left:53px;
  top:425px;
  width:806px;
  height:1px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5686 {
  position:absolute;
  left:522px;
  top:442px;
  width:75px;
  height:31px;
}
#u5687 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5688 {
  position:absolute;
  left:400px;
  top:442px;
  width:75px;
  height:31px;
}
#u5689 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u5690 {
  position:absolute;
  left:785px;
  top:42px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u5691 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
