body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:468px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  position:absolute;
  left:10px;
  top:20px;
  width:597px;
  height:468px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:226px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3685 {
  position:absolute;
  left:72px;
  top:107px;
  width:478px;
  height:30px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:7px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3687 {
  position:absolute;
  left:86px;
  top:114px;
  width:57px;
  height:16px;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3689 {
  position:absolute;
  left:511px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3691 {
  position:absolute;
  left:72px;
  top:136px;
  width:478px;
  height:264px;
}
#u3692 {
  position:absolute;
  left:2px;
  top:124px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  position:absolute;
  left:332px;
  top:324px;
  width:75px;
  height:31px;
}
#u3694 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  position:absolute;
  left:210px;
  top:324px;
  width:75px;
  height:31px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3697 {
  position:absolute;
  left:117px;
  top:179px;
  width:289px;
  height:19px;
  font-size:16px;
}
#u3698 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u3699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3699 {
  position:absolute;
  left:117px;
  top:208px;
  width:365px;
  height:16px;
  color:#999999;
}
#u3700 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3701 {
  position:absolute;
  left:264px;
  top:248px;
  width:116px;
  height:31px;
}
#u3702 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u3703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3703 {
  position:absolute;
  left:403px;
  top:248px;
  width:116px;
  height:31px;
}
#u3704 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3705 {
  position:absolute;
  left:117px;
  top:248px;
  width:116px;
  height:31px;
}
#u3706 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
