body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  position:absolute;
  left:15px;
  top:16px;
  width:868px;
  height:497px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6990 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:451px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6992 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u6993 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:16px;
}
#u6994 {
  position:absolute;
  left:181px;
  top:88px;
  width:543px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6995 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  white-space:nowrap;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u6997 {
  position:absolute;
  left:81px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u6998 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u6999 {
  position:absolute;
  left:117px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u7000 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7001 {
  position:absolute;
  left:93px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7004 {
  position:absolute;
  left:207px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u7005 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u7006 {
  position:absolute;
  left:243px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7008 {
  position:absolute;
  left:219px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7011 {
  position:absolute;
  left:333px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u7012 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u7013 {
  position:absolute;
  left:369px;
  top:338px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7015 {
  position:absolute;
  left:345px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7018 {
  position:absolute;
  left:81px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7019 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7020 {
  position:absolute;
  left:115px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7021 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7022 {
  position:absolute;
  left:93px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7023 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7025 {
  position:absolute;
  left:207px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7026 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u7027 {
  position:absolute;
  left:243px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7028 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7029 {
  position:absolute;
  left:219px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7032 {
  position:absolute;
  left:333px;
  top:121px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u7033 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u7034 {
  position:absolute;
  left:369px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7036 {
  position:absolute;
  left:345px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7039 {
  position:absolute;
  left:456px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7040 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7041 {
  position:absolute;
  left:490px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7042 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7043 {
  position:absolute;
  left:468px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7044 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7046 {
  position:absolute;
  left:581px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7047 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7048 {
  position:absolute;
  left:615px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7049 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7050 {
  position:absolute;
  left:593px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7051 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7053 {
  position:absolute;
  left:714px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7054 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7055 {
  position:absolute;
  left:748px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7056 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7057 {
  position:absolute;
  left:726px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7058 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7060 {
  position:absolute;
  left:81px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7061 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7062 {
  position:absolute;
  left:115px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7063 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7064 {
  position:absolute;
  left:93px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7065 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7067 {
  position:absolute;
  left:207px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7068 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7069 {
  position:absolute;
  left:241px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7070 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7071 {
  position:absolute;
  left:219px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7072 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7074 {
  position:absolute;
  left:714px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u7075 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u7076 {
  position:absolute;
  left:750px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7078 {
  position:absolute;
  left:726px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7081 {
  position:absolute;
  left:333px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7082 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7083 {
  position:absolute;
  left:367px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7084 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7085 {
  position:absolute;
  left:345px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7086 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7088 {
  position:absolute;
  left:456px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u7089 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7090 {
  position:absolute;
  left:490px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u7091 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7092 {
  position:absolute;
  left:468px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7093 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u7094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u7095 {
  position:absolute;
  left:581px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u7096 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u7097 {
  position:absolute;
  left:617px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u7098 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u7099 {
  position:absolute;
  left:593px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u7101 {
  position:absolute;
  left:48px;
  top:428px;
  width:806px;
  height:1px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7103 {
  position:absolute;
  left:517px;
  top:445px;
  width:75px;
  height:31px;
}
#u7104 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7105 {
  position:absolute;
  left:395px;
  top:445px;
  width:75px;
  height:31px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u7107 {
  position:absolute;
  left:780px;
  top:45px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
