body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4190 {
  position:absolute;
  left:15px;
  top:16px;
  width:868px;
  height:497px;
}
#u4191 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4192 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:451px;
}
#u4193 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4194 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u4195 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u4196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:16px;
}
#u4196 {
  position:absolute;
  left:181px;
  top:88px;
  width:543px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  white-space:nowrap;
}
#u4198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4199 {
  position:absolute;
  left:81px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4200 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4201 {
  position:absolute;
  left:117px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4202 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4203 {
  position:absolute;
  left:93px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4206 {
  position:absolute;
  left:207px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4207 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4208 {
  position:absolute;
  left:243px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4209 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4210 {
  position:absolute;
  left:219px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4213 {
  position:absolute;
  left:333px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4214 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u4215 {
  position:absolute;
  left:369px;
  top:338px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4216 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4217 {
  position:absolute;
  left:345px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4218 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4220 {
  position:absolute;
  left:81px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4221 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4222 {
  position:absolute;
  left:115px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4223 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4224 {
  position:absolute;
  left:93px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4225 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4227 {
  position:absolute;
  left:207px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4228 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4229 {
  position:absolute;
  left:243px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4230 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4231 {
  position:absolute;
  left:219px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4232 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4234 {
  position:absolute;
  left:333px;
  top:121px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4235 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4236 {
  position:absolute;
  left:369px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4238 {
  position:absolute;
  left:345px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4239 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4241 {
  position:absolute;
  left:456px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4242 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4243 {
  position:absolute;
  left:490px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4244 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4245 {
  position:absolute;
  left:468px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4246 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4248 {
  position:absolute;
  left:581px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4249 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4250 {
  position:absolute;
  left:615px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4251 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4252 {
  position:absolute;
  left:593px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4253 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4255 {
  position:absolute;
  left:714px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4256 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4257 {
  position:absolute;
  left:748px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4258 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4259 {
  position:absolute;
  left:726px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4260 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4262 {
  position:absolute;
  left:81px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4263 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4264 {
  position:absolute;
  left:115px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4265 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4266 {
  position:absolute;
  left:93px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4267 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4269 {
  position:absolute;
  left:207px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4270 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4271 {
  position:absolute;
  left:241px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4272 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4273 {
  position:absolute;
  left:219px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4274 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4276 {
  position:absolute;
  left:714px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4277 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4278 {
  position:absolute;
  left:750px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4279 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4280 {
  position:absolute;
  left:726px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4281 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4283 {
  position:absolute;
  left:333px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4284 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4285 {
  position:absolute;
  left:367px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4286 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4287 {
  position:absolute;
  left:345px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4288 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4290 {
  position:absolute;
  left:456px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u4291 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4292 {
  position:absolute;
  left:490px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u4293 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u4294 {
  position:absolute;
  left:468px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4295 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u4296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u4297 {
  position:absolute;
  left:581px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u4298 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4299 {
  position:absolute;
  left:617px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4300 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4301 {
  position:absolute;
  left:593px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u4302 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u4303 {
  position:absolute;
  left:48px;
  top:428px;
  width:806px;
  height:1px;
}
#u4304 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4305 {
  position:absolute;
  left:517px;
  top:445px;
  width:75px;
  height:31px;
}
#u4306 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u4307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4307 {
  position:absolute;
  left:395px;
  top:445px;
  width:75px;
  height:31px;
}
#u4308 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u4309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4309 {
  position:absolute;
  left:780px;
  top:45px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u4310 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
