body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  position:absolute;
  left:16px;
  top:16px;
  width:868px;
  height:497px;
}
#u5137 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5138 {
  position:absolute;
  left:49px;
  top:37px;
  width:806px;
  height:451px;
}
#u5139 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5140 {
  position:absolute;
  left:49px;
  top:37px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u5141 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:16px;
}
#u5142 {
  position:absolute;
  left:182px;
  top:88px;
  width:543px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u5143 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  white-space:nowrap;
}
#u5144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5145 {
  position:absolute;
  left:82px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5146 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5147 {
  position:absolute;
  left:118px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5148 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5149 {
  position:absolute;
  left:94px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5150 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5152 {
  position:absolute;
  left:208px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5153 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5154 {
  position:absolute;
  left:244px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5155 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5156 {
  position:absolute;
  left:220px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5157 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5159 {
  position:absolute;
  left:334px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5160 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u5161 {
  position:absolute;
  left:370px;
  top:338px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5162 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5163 {
  position:absolute;
  left:346px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5164 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5166 {
  position:absolute;
  left:82px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5167 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5168 {
  position:absolute;
  left:116px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5169 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5170 {
  position:absolute;
  left:94px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5171 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5173 {
  position:absolute;
  left:208px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5174 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5175 {
  position:absolute;
  left:244px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5176 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5177 {
  position:absolute;
  left:220px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5178 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5180 {
  position:absolute;
  left:334px;
  top:121px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5181 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5182 {
  position:absolute;
  left:370px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5184 {
  position:absolute;
  left:346px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5187 {
  position:absolute;
  left:457px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5188 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5189 {
  position:absolute;
  left:491px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5190 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5191 {
  position:absolute;
  left:469px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5192 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5194 {
  position:absolute;
  left:582px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5195 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5196 {
  position:absolute;
  left:616px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5197 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5198 {
  position:absolute;
  left:594px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5199 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5201 {
  position:absolute;
  left:715px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5202 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5203 {
  position:absolute;
  left:749px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5204 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5205 {
  position:absolute;
  left:727px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5206 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5208 {
  position:absolute;
  left:82px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5209 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5210 {
  position:absolute;
  left:116px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5211 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5212 {
  position:absolute;
  left:94px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5213 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5215 {
  position:absolute;
  left:208px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5216 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5217 {
  position:absolute;
  left:242px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5218 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5219 {
  position:absolute;
  left:220px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5220 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5222 {
  position:absolute;
  left:715px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5223 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5224 {
  position:absolute;
  left:751px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5225 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5226 {
  position:absolute;
  left:727px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5229 {
  position:absolute;
  left:334px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5230 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5231 {
  position:absolute;
  left:368px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5232 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5233 {
  position:absolute;
  left:346px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5234 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5236 {
  position:absolute;
  left:457px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5237 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5238 {
  position:absolute;
  left:491px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5239 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5240 {
  position:absolute;
  left:469px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5241 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5243 {
  position:absolute;
  left:582px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5244 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5245 {
  position:absolute;
  left:618px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5246 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5247 {
  position:absolute;
  left:594px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u5249 {
  position:absolute;
  left:49px;
  top:428px;
  width:806px;
  height:1px;
}
#u5250 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5251 {
  position:absolute;
  left:518px;
  top:445px;
  width:75px;
  height:31px;
}
#u5252 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5253 {
  position:absolute;
  left:396px;
  top:445px;
  width:75px;
  height:31px;
}
#u5254 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u5255 {
  position:absolute;
  left:781px;
  top:45px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u5256 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
