body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9912 {
  position:absolute;
  left:6px;
  top:71px;
  width:1022px;
  height:627px;
}
#u9913 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9914 {
  position:absolute;
  left:246px;
  top:147px;
  width:226px;
  height:58px;
}
#u9915 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9916 {
  position:absolute;
  left:471px;
  top:147px;
  width:226px;
  height:58px;
}
#u9917 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9918 {
  position:absolute;
  left:287px;
  top:155px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9919 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9920 {
  position:absolute;
  left:510px;
  top:155px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9921 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9922 {
  position:absolute;
  left:6px;
  top:71px;
  width:1022px;
  height:62px;
}
#u9923 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9924 {
  position:absolute;
  left:22px;
  top:81px;
  width:40px;
  height:40px;
}
#u9925 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u9926 {
  position:absolute;
  left:74px;
  top:81px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u9927 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u9928 {
  position:absolute;
  left:22px;
  top:81px;
  width:40px;
  height:40px;
}
#u9929 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9930 {
  position:absolute;
  left:22px;
  top:147px;
  width:226px;
  height:58px;
}
#u9931 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9932 {
  position:absolute;
  left:61px;
  top:155px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9933 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9935 {
  position:absolute;
  left:944px;
  top:84px;
  width:34px;
  height:34px;
}
#u9936 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9937 {
  position:absolute;
  left:992px;
  top:84px;
  width:34px;
  height:34px;
}
#u9938 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9939 {
  position:absolute;
  left:896px;
  top:84px;
  width:34px;
  height:34px;
}
#u9940 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9941 {
  position:absolute;
  left:902px;
  top:90px;
  width:22px;
  height:22px;
}
#u9942 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9943 {
  position:absolute;
  left:951px;
  top:91px;
  width:20px;
  height:20px;
}
#u9944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9945 {
  position:absolute;
  left:997px;
  top:89px;
  width:24px;
  height:24px;
}
#u9946 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9947 {
  position:absolute;
  left:436px;
  top:160px;
  width:12px;
  height:12px;
}
#u9948 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9949 {
  position:absolute;
  left:210px;
  top:160px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u9950 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9951 {
  position:absolute;
  left:882px;
  top:83px;
  width:144px;
  height:48px;
}
#u9952 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9954 {
  position:absolute;
  left:825px;
  top:93px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u9955 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9956 {
  position:absolute;
  left:786px;
  top:85px;
  width:32px;
  height:32px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9958 {
  position:absolute;
  left:925px;
  top:86px;
  width:22px;
  height:22px;
}
#u9959 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u9961 {
  position:absolute;
  left:460px;
  top:91px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u9962 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u9963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9963 {
  position:absolute;
  left:638px;
  top:94px;
  width:20px;
  height:20px;
}
#u9964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9966 {
  position:absolute;
  left:686px;
  top:90px;
  width:26px;
  height:26px;
}
#u9967 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9968 {
  position:absolute;
  left:703px;
  top:89px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u9969 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u9970 {
  position:absolute;
  left:981px;
  top:93px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u9971 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u9972 {
  position:absolute;
  left:961px;
  top:91px;
  width:1px;
  height:20px;
}
#u9973 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9975 {
  position:absolute;
  left:737px;
  top:90px;
  width:26px;
  height:26px;
}
#u9976 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9977 {
  position:absolute;
  left:754px;
  top:89px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u9978 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u9979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:509px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9979 {
  position:absolute;
  left:6px;
  top:180px;
  width:1022px;
  height:509px;
}
#u9980 {
  position:absolute;
  left:2px;
  top:246px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:502px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9981 {
  position:absolute;
  left:7px;
  top:187px;
  width:178px;
  height:502px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:243px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9983 {
  position:absolute;
  left:68px;
  top:186px;
  width:94px;
  height:502px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:243px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9985 {
  position:absolute;
  left:88px;
  top:271px;
  width:61px;
  height:57px;
  font-size:14px;
}
#u9986 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u9987 {
  position:absolute;
  left:88px;
  top:205px;
  width:61px;
  height:56px;
  font-size:14px;
  color:#1E1E1E;
}
#u9988 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9989 {
  position:absolute;
  left:88px;
  top:410px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9990 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9991 {
  position:absolute;
  left:88px;
  top:482px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9992 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9993 {
  position:absolute;
  left:88px;
  top:340px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9994 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:16px;
}
#u9995 {
  position:absolute;
  left:24px;
  top:13px;
  width:699px;
  height:16px;
}
#u9996 {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  word-wrap:break-word;
}
#u9997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9997 {
  position:absolute;
  left:7px;
  top:501px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9998 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9999 {
  position:absolute;
  left:6px;
  top:187px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10000 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10001 {
  position:absolute;
  left:54px;
  top:273px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u10002 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u10003 {
  position:absolute;
  left:6px;
  top:334px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10004 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u10005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10005 {
  position:absolute;
  left:6px;
  top:270px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10006 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u10007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u10007 {
  position:absolute;
  left:6px;
  top:566px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10008 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10009 {
  position:absolute;
  left:6px;
  top:436px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10010 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10011 {
  position:absolute;
  left:54px;
  top:198px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u10012 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u10013 {
  position:absolute;
  left:136px;
  top:642px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10014 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10015 {
  position:absolute;
  left:88px;
  top:622px;
  width:61px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10016 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10017 {
  position:absolute;
  left:88px;
  top:552px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u10018 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10019 {
  position:absolute;
  left:171px;
  top:186px;
  width:857px;
  height:492px;
}
#u10020 {
  position:absolute;
  left:2px;
  top:238px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10021 {
  position:absolute;
  left:197px;
  top:226px;
  width:773px;
  height:95px;
}
#u10022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u10022 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u10023 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u10024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u10024 {
  position:absolute;
  left:40px;
  top:0px;
  width:300px;
  height:30px;
}
#u10025 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u10026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10026 {
  position:absolute;
  left:340px;
  top:0px;
  width:100px;
  height:30px;
}
#u10027 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10028 {
  position:absolute;
  left:440px;
  top:0px;
  width:100px;
  height:30px;
}
#u10029 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u10030 {
  position:absolute;
  left:540px;
  top:0px;
  width:128px;
  height:30px;
}
#u10031 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u10032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10032 {
  position:absolute;
  left:668px;
  top:0px;
  width:100px;
  height:30px;
}
#u10033 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u10034 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u10035 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u10036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u10036 {
  position:absolute;
  left:40px;
  top:30px;
  width:300px;
  height:30px;
}
#u10037 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u10038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10038 {
  position:absolute;
  left:340px;
  top:30px;
  width:100px;
  height:30px;
}
#u10039 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10040 {
  position:absolute;
  left:440px;
  top:30px;
  width:100px;
  height:30px;
}
#u10041 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u10042 {
  position:absolute;
  left:540px;
  top:30px;
  width:128px;
  height:30px;
}
#u10043 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u10044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10044 {
  position:absolute;
  left:668px;
  top:30px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#008000;
}
#u10045 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u10046 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u10047 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u10048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u10048 {
  position:absolute;
  left:40px;
  top:60px;
  width:300px;
  height:30px;
}
#u10049 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u10050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10050 {
  position:absolute;
  left:340px;
  top:60px;
  width:100px;
  height:30px;
}
#u10051 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10052 {
  position:absolute;
  left:440px;
  top:60px;
  width:100px;
  height:30px;
}
#u10053 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u10054 {
  position:absolute;
  left:540px;
  top:60px;
  width:128px;
  height:30px;
}
#u10055 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u10056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10056 {
  position:absolute;
  left:668px;
  top:60px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#008000;
}
#u10057 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
