body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:615px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:399px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1604 {
  position:absolute;
  left:18px;
  top:18px;
  width:597px;
  height:399px;
}
#u1605 {
  position:absolute;
  left:2px;
  top:192px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1606 {
  position:absolute;
  left:77px;
  top:61px;
  width:478px;
  height:30px;
}
#u1607 {
  position:absolute;
  left:2px;
  top:7px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1608 {
  position:absolute;
  left:91px;
  top:68px;
  width:57px;
  height:16px;
}
#u1609 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1610 {
  position:absolute;
  left:516px;
  top:68px;
  width:32px;
  height:16px;
  text-align:center;
}
#u1611 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1612 {
  position:absolute;
  left:77px;
  top:90px;
  width:478px;
  height:255px;
}
#u1613 {
  position:absolute;
  left:2px;
  top:120px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1614 {
  position:absolute;
  left:91px;
  top:107px;
  width:447px;
  height:31px;
}
#u1615 {
  position:absolute;
  left:2px;
  top:8px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1616 {
  position:absolute;
  left:91px;
  top:137px;
  width:447px;
  height:181px;
}
#u1617 {
  position:absolute;
  left:2px;
  top:82px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1618 {
  position:absolute;
  left:463px;
  top:287px;
  width:75px;
  height:31px;
}
#u1619 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1620 {
  position:absolute;
  left:104px;
  top:167px;
  width:179px;
  height:16px;
  color:#CCCCCC;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u1622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1622 {
  position:absolute;
  left:138px;
  top:115px;
  width:43px;
  height:16px;
}
#u1623 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u1624 {
  position:absolute;
  left:104px;
  top:113px;
  width:29px;
  height:18px;
  font-size:9px;
}
#u1625 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  word-wrap:break-word;
}
#u1626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1626 {
  position:absolute;
  left:234px;
  top:115px;
  width:29px;
  height:16px;
}
#u1627 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u1628 {
  position:absolute;
  left:200px;
  top:113px;
  width:29px;
  height:18px;
  font-size:9px;
}
#u1629 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  word-wrap:break-word;
}
#u1630 {
  position:absolute;
  left:104px;
  top:141px;
  width:268px;
  height:16px;
}
#u1631 {
  position:absolute;
  left:16px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u1630_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1632 {
  position:absolute;
  left:274px;
  top:295px;
  width:177px;
  height:16px;
  color:#CCCCCC;
}
#u1633 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
