body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:671px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11925 {
  position:absolute;
  left:20px;
  top:13px;
  width:868px;
  height:671px;
}
#u11926 {
  position:absolute;
  left:2px;
  top:328px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11927 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:613px;
}
#u11928 {
  position:absolute;
  left:2px;
  top:298px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u11929 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u11930 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u11931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:16px;
}
#u11931 {
  position:absolute;
  left:93px;
  top:142px;
  width:557px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u11932 {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  white-space:nowrap;
}
#u11933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11934 {
  position:absolute;
  left:91px;
  top:398px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u11935 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u11936 {
  position:absolute;
  left:127px;
  top:411px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u11937 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u11938 {
  position:absolute;
  left:103px;
  top:441px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u11939 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u11940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11941 {
  position:absolute;
  left:217px;
  top:398px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u11942 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u11943 {
  position:absolute;
  left:253px;
  top:411px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u11944 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u11945 {
  position:absolute;
  left:229px;
  top:441px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u11947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11948 {
  position:absolute;
  left:343px;
  top:398px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u11949 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u11950 {
  position:absolute;
  left:379px;
  top:411px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u11952 {
  position:absolute;
  left:355px;
  top:441px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u11953 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11955 {
  position:absolute;
  left:91px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u11956 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u11957 {
  position:absolute;
  left:125px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u11958 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u11959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u11959 {
  position:absolute;
  left:103px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11960 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u11961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11962 {
  position:absolute;
  left:217px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u11963 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u11964 {
  position:absolute;
  left:253px;
  top:207px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11965 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u11966 {
  position:absolute;
  left:229px;
  top:237px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11967 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u11968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11969 {
  position:absolute;
  left:343px;
  top:194px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u11970 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u11971 {
  position:absolute;
  left:379px;
  top:207px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u11972 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u11973 {
  position:absolute;
  left:355px;
  top:237px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u11975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11976 {
  position:absolute;
  left:466px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u11977 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u11978 {
  position:absolute;
  left:500px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u11979 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u11980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u11980 {
  position:absolute;
  left:478px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11981 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u11982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11983 {
  position:absolute;
  left:591px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u11984 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u11985 {
  position:absolute;
  left:625px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u11986 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u11987 {
  position:absolute;
  left:603px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11988 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u11989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11990 {
  position:absolute;
  left:724px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u11991 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u11992 {
  position:absolute;
  left:758px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u11993 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u11994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u11994 {
  position:absolute;
  left:736px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11995 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u11997 {
  position:absolute;
  left:91px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u11998 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u11999 {
  position:absolute;
  left:125px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12000 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12001 {
  position:absolute;
  left:103px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12002 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12004 {
  position:absolute;
  left:217px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12005 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12006 {
  position:absolute;
  left:251px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12007 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12008 {
  position:absolute;
  left:229px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12009 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12011 {
  position:absolute;
  left:724px;
  top:295px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12012 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12013 {
  position:absolute;
  left:760px;
  top:308px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12014 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12015 {
  position:absolute;
  left:736px;
  top:338px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12016 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12018 {
  position:absolute;
  left:343px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12019 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12020 {
  position:absolute;
  left:377px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12021 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12022 {
  position:absolute;
  left:355px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12023 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12025 {
  position:absolute;
  left:466px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12026 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12027 {
  position:absolute;
  left:500px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12028 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12029 {
  position:absolute;
  left:478px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12030 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12032 {
  position:absolute;
  left:591px;
  top:295px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12033 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12034 {
  position:absolute;
  left:627px;
  top:308px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12036 {
  position:absolute;
  left:603px;
  top:338px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u12038 {
  position:absolute;
  left:53px;
  top:537px;
  width:806px;
  height:1px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12040 {
  position:absolute;
  left:522px;
  top:554px;
  width:75px;
  height:31px;
}
#u12041 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12042 {
  position:absolute;
  left:400px;
  top:554px;
  width:75px;
  height:31px;
}
#u12043 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u12044 {
  position:absolute;
  left:785px;
  top:42px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12046 {
  position:absolute;
  left:91px;
  top:100px;
  width:85px;
  height:16px;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12048 {
  position:absolute;
  left:186px;
  top:94px;
  width:222px;
  height:28px;
}
#u12048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12048_input:disabled {
  color:grayText;
}
