body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:671px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12207 {
  position:absolute;
  left:20px;
  top:13px;
  width:868px;
  height:671px;
}
#u12208 {
  position:absolute;
  left:2px;
  top:328px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12209 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:613px;
}
#u12210 {
  position:absolute;
  left:2px;
  top:298px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u12211 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u12212 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u12213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:16px;
}
#u12213 {
  position:absolute;
  left:93px;
  top:142px;
  width:557px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12214 {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  white-space:nowrap;
}
#u12215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12216 {
  position:absolute;
  left:91px;
  top:398px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12217 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12218 {
  position:absolute;
  left:127px;
  top:411px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12219 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12220 {
  position:absolute;
  left:103px;
  top:441px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12221 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12223 {
  position:absolute;
  left:217px;
  top:398px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12224 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12225 {
  position:absolute;
  left:253px;
  top:411px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12226 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12227 {
  position:absolute;
  left:229px;
  top:441px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12230 {
  position:absolute;
  left:343px;
  top:398px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12231 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u12232 {
  position:absolute;
  left:379px;
  top:411px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12233 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12234 {
  position:absolute;
  left:355px;
  top:441px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12235 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12237 {
  position:absolute;
  left:91px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12238 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12239 {
  position:absolute;
  left:125px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12240 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12241 {
  position:absolute;
  left:103px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12242 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12244 {
  position:absolute;
  left:217px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12245 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12246 {
  position:absolute;
  left:253px;
  top:207px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12247 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12248 {
  position:absolute;
  left:229px;
  top:237px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u12249 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12251 {
  position:absolute;
  left:343px;
  top:194px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12252 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12253 {
  position:absolute;
  left:379px;
  top:207px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12255 {
  position:absolute;
  left:355px;
  top:237px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12258 {
  position:absolute;
  left:466px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12259 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12260 {
  position:absolute;
  left:500px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12261 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12262 {
  position:absolute;
  left:478px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12263 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12265 {
  position:absolute;
  left:591px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12266 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12267 {
  position:absolute;
  left:625px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12268 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12269 {
  position:absolute;
  left:603px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12270 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12272 {
  position:absolute;
  left:724px;
  top:194px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12273 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12274 {
  position:absolute;
  left:758px;
  top:207px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12275 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12276 {
  position:absolute;
  left:736px;
  top:238px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12277 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12279 {
  position:absolute;
  left:91px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12280 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12281 {
  position:absolute;
  left:125px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12282 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12283 {
  position:absolute;
  left:103px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12284 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12286 {
  position:absolute;
  left:217px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12287 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12288 {
  position:absolute;
  left:251px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12289 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12290 {
  position:absolute;
  left:229px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12291 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12293 {
  position:absolute;
  left:724px;
  top:295px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12294 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12295 {
  position:absolute;
  left:760px;
  top:308px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12296 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12297 {
  position:absolute;
  left:736px;
  top:338px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12298 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12300 {
  position:absolute;
  left:343px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12301 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12302 {
  position:absolute;
  left:377px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12303 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12304 {
  position:absolute;
  left:355px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12305 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12306 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12307 {
  position:absolute;
  left:466px;
  top:295px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u12308 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u12309 {
  position:absolute;
  left:500px;
  top:308px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u12310 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u12311 {
  position:absolute;
  left:478px;
  top:339px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12312 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u12313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u12314 {
  position:absolute;
  left:591px;
  top:295px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u12315 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12316 {
  position:absolute;
  left:627px;
  top:308px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12317 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u12318 {
  position:absolute;
  left:603px;
  top:338px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12319 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u12320 {
  position:absolute;
  left:53px;
  top:537px;
  width:806px;
  height:1px;
}
#u12321 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12322 {
  position:absolute;
  left:522px;
  top:554px;
  width:75px;
  height:31px;
}
#u12323 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u12324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12324 {
  position:absolute;
  left:400px;
  top:554px;
  width:75px;
  height:31px;
}
#u12325 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u12326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u12326 {
  position:absolute;
  left:785px;
  top:42px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u12327 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u12328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12328 {
  position:absolute;
  left:91px;
  top:100px;
  width:173px;
  height:16px;
}
#u12329 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
