body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:5448px;
}
#u11710 {
  position:absolute;
  left:0px;
  top:6px;
  width:1280px;
  height:5448px;
}
#u11711 {
  position:absolute;
  left:2px;
  top:2716px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
