body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:5213px;
}
#u394 {
  position:absolute;
  left:0px;
  top:6px;
  width:1280px;
  height:5213px;
}
#u395 {
  position:absolute;
  left:2px;
  top:2598px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  position:absolute;
  left:17px;
  top:5267px;
  width:309px;
  height:32px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
