body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:399px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  position:absolute;
  left:10px;
  top:20px;
  width:597px;
  height:399px;
}
#u5681 {
  position:absolute;
  left:2px;
  top:192px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5682 {
  position:absolute;
  left:72px;
  top:107px;
  width:478px;
  height:30px;
}
#u5683 {
  position:absolute;
  left:2px;
  top:7px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  position:absolute;
  left:86px;
  top:114px;
  width:57px;
  height:16px;
}
#u5685 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5686 {
  position:absolute;
  left:511px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u5687 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u5688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5688 {
  position:absolute;
  left:72px;
  top:136px;
  width:478px;
  height:196px;
}
#u5689 {
  position:absolute;
  left:2px;
  top:90px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5690 {
  position:absolute;
  left:332px;
  top:245px;
  width:75px;
  height:31px;
}
#u5691 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5692 {
  position:absolute;
  left:210px;
  top:245px;
  width:75px;
  height:31px;
}
#u5693 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5694 {
  position:absolute;
  left:117px;
  top:179px;
  width:383px;
  height:19px;
  font-size:16px;
}
#u5695 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u5696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5696 {
  position:absolute;
  left:117px;
  top:208px;
  width:309px;
  height:16px;
  color:#999999;
}
#u5697 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
