body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11310 {
  position:absolute;
  left:16px;
  top:23px;
  width:1133px;
  height:843px;
}
#u11311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u11311 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u11312 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u11313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:34px;
}
#u11313 {
  position:absolute;
  left:35px;
  top:0px;
  width:601px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u11314 {
  position:absolute;
  left:2px;
  top:9px;
  width:597px;
  word-wrap:break-word;
}
#u11315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:34px;
}
#u11315 {
  position:absolute;
  left:636px;
  top:0px;
  width:492px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u11316 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:42px;
}
#u11317 {
  position:absolute;
  left:0px;
  top:34px;
  width:35px;
  height:42px;
  color:#666666;
  text-align:center;
}
#u11318 {
  position:absolute;
  left:2px;
  top:13px;
  width:31px;
  word-wrap:break-word;
}
#u11319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:42px;
}
#u11319 {
  position:absolute;
  left:35px;
  top:34px;
  width:601px;
  height:42px;
  color:#000000;
  text-align:left;
}
#u11320 {
  position:absolute;
  left:2px;
  top:13px;
  width:597px;
  word-wrap:break-word;
}
#u11321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:42px;
}
#u11321 {
  position:absolute;
  left:636px;
  top:34px;
  width:492px;
  height:42px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u11322 {
  position:absolute;
  left:2px;
  top:14px;
  width:488px;
  word-wrap:break-word;
}
#u11323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u11323 {
  position:absolute;
  left:0px;
  top:76px;
  width:35px;
  height:40px;
  color:#666666;
  text-align:center;
}
#u11324 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u11325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:40px;
}
#u11325 {
  position:absolute;
  left:35px;
  top:76px;
  width:601px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u11326 {
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  word-wrap:break-word;
}
#u11327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:40px;
}
#u11327 {
  position:absolute;
  left:636px;
  top:76px;
  width:492px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u11328 {
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u11329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u11329 {
  position:absolute;
  left:0px;
  top:116px;
  width:35px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u11330 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u11331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:39px;
}
#u11331 {
  position:absolute;
  left:35px;
  top:116px;
  width:601px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u11332 {
  position:absolute;
  left:2px;
  top:4px;
  width:597px;
  word-wrap:break-word;
}
#u11333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:39px;
}
#u11333 {
  position:absolute;
  left:636px;
  top:116px;
  width:492px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u11334 {
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u11335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u11335 {
  position:absolute;
  left:0px;
  top:155px;
  width:35px;
  height:40px;
  color:#666666;
  text-align:center;
}
#u11336 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u11337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:40px;
}
#u11337 {
  position:absolute;
  left:35px;
  top:155px;
  width:601px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u11338 {
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  word-wrap:break-word;
}
#u11339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:40px;
}
#u11339 {
  position:absolute;
  left:636px;
  top:155px;
  width:492px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u11340 {
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u11341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u11341 {
  position:absolute;
  left:0px;
  top:195px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u11342 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  word-wrap:break-word;
}
#u11343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u11343 {
  position:absolute;
  left:35px;
  top:195px;
  width:601px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u11344 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u11345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u11345 {
  position:absolute;
  left:636px;
  top:195px;
  width:492px;
  height:52px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u11346 {
  position:absolute;
  left:2px;
  top:18px;
  width:488px;
  word-wrap:break-word;
}
#u11347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11347 {
  position:absolute;
  left:0px;
  top:247px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11348 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u11349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11349 {
  position:absolute;
  left:35px;
  top:247px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11350 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u11351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11351 {
  position:absolute;
  left:636px;
  top:247px;
  width:492px;
  height:36px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u11352 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11353 {
  position:absolute;
  left:0px;
  top:283px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11354 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11355 {
  position:absolute;
  left:35px;
  top:283px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11356 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u11357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11357 {
  position:absolute;
  left:636px;
  top:283px;
  width:492px;
  height:36px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u11358 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11359 {
  position:absolute;
  left:0px;
  top:319px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11360 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11361 {
  position:absolute;
  left:35px;
  top:319px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11362 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11363 {
  position:absolute;
  left:636px;
  top:319px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11364 {
  position:absolute;
  left:2px;
  top:2px;
  width:488px;
  word-wrap:break-word;
}
#u11365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11365 {
  position:absolute;
  left:0px;
  top:355px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11366 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11367 {
  position:absolute;
  left:35px;
  top:355px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11368 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11369 {
  position:absolute;
  left:636px;
  top:355px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11370 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11371 {
  position:absolute;
  left:0px;
  top:391px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11372 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11373 {
  position:absolute;
  left:35px;
  top:391px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11374 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11375 {
  position:absolute;
  left:636px;
  top:391px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11376 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11377 {
  position:absolute;
  left:0px;
  top:427px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11378 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11379 {
  position:absolute;
  left:35px;
  top:427px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11380 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11381 {
  position:absolute;
  left:636px;
  top:427px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11382 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11383 {
  position:absolute;
  left:0px;
  top:463px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11384 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11385 {
  position:absolute;
  left:35px;
  top:463px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11386 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11387 {
  position:absolute;
  left:636px;
  top:463px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11388 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11389 {
  position:absolute;
  left:0px;
  top:499px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11390 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11391 {
  position:absolute;
  left:35px;
  top:499px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11392 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11393 {
  position:absolute;
  left:636px;
  top:499px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11394 {
  position:absolute;
  left:2px;
  top:2px;
  width:488px;
  word-wrap:break-word;
}
#u11395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11395 {
  position:absolute;
  left:0px;
  top:535px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11396 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11397 {
  position:absolute;
  left:35px;
  top:535px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11398 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11399 {
  position:absolute;
  left:636px;
  top:535px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11400 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11401 {
  position:absolute;
  left:0px;
  top:571px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11402 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11403 {
  position:absolute;
  left:35px;
  top:571px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11404 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11405 {
  position:absolute;
  left:636px;
  top:571px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11406 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u11407 {
  position:absolute;
  left:0px;
  top:607px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u11408 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u11409 {
  position:absolute;
  left:35px;
  top:607px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11410 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u11411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u11411 {
  position:absolute;
  left:636px;
  top:607px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11412 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u11413 {
  position:absolute;
  left:0px;
  top:643px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u11414 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u11415 {
  position:absolute;
  left:35px;
  top:643px;
  width:601px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u11416 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u11417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u11417 {
  position:absolute;
  left:636px;
  top:643px;
  width:492px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u11418 {
  position:absolute;
  left:2px;
  top:18px;
  width:488px;
  word-wrap:break-word;
}
#u11419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u11419 {
  position:absolute;
  left:0px;
  top:695px;
  width:35px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u11420 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:39px;
}
#u11421 {
  position:absolute;
  left:35px;
  top:695px;
  width:601px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u11422 {
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  word-wrap:break-word;
}
#u11423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:39px;
}
#u11423 {
  position:absolute;
  left:636px;
  top:695px;
  width:492px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u11424 {
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u11425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u11425 {
  position:absolute;
  left:0px;
  top:734px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u11426 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u11427 {
  position:absolute;
  left:35px;
  top:734px;
  width:601px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u11428 {
  position:absolute;
  left:2px;
  top:18px;
  width:597px;
  word-wrap:break-word;
}
#u11429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u11429 {
  position:absolute;
  left:636px;
  top:734px;
  width:492px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u11430 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u11431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u11431 {
  position:absolute;
  left:0px;
  top:786px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u11432 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u11433 {
  position:absolute;
  left:35px;
  top:786px;
  width:601px;
  height:52px;
  text-align:left;
}
#u11434 {
  position:absolute;
  left:2px;
  top:18px;
  width:597px;
  word-wrap:break-word;
}
#u11435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u11435 {
  position:absolute;
  left:636px;
  top:786px;
  width:492px;
  height:52px;
  text-align:left;
}
#u11436 {
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
