body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:684px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11812 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:684px;
}
#u11813 {
  position:absolute;
  left:2px;
  top:334px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11814 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:62px;
}
#u11815 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u11816 {
  position:absolute;
  left:23px;
  top:30px;
  width:15px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u11817 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u11818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u11818 {
  position:absolute;
  left:125px;
  top:25px;
  width:40px;
  height:38px;
  font-size:12px;
  color:#666666;
}
#u11819 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u11820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11820 {
  position:absolute;
  left:48px;
  top:22px;
  width:29px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11821 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u11822 {
  position:absolute;
  left:91px;
  top:19px;
  width:1px;
  height:49px;
}
#u11823 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u11824 {
  position:absolute;
  left:176px;
  top:23px;
  width:584px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u11825 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u11826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11826 {
  position:absolute;
  left:826px;
  top:23px;
  width:87px;
  height:24px;
}
#u11827 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u11828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11828 {
  position:absolute;
  left:932px;
  top:23px;
  width:87px;
  height:24px;
}
#u11829 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u11830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u11830 {
  position:absolute;
  left:528px;
  top:21px;
  width:71px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#66FFFF;
}
#u11831 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:17px;
}
#u11832 {
  position:absolute;
  left:801px;
  top:51px;
  width:218px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u11833 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u11834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11834 {
  position:absolute;
  left:78px;
  top:75px;
  width:957px;
  height:621px;
}
#u11835 {
  position:absolute;
  left:2px;
  top:302px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11836 {
  position:absolute;
  left:17px;
  top:217px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u11837 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u11838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11838 {
  position:absolute;
  left:17px;
  top:85px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u11839 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u11840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11840 {
  position:absolute;
  left:17px;
  top:151px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u11841 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u11842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11842 {
  position:absolute;
  left:97px;
  top:88px;
  width:162px;
  height:31px;
}
#u11843 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u11844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11844 {
  position:absolute;
  left:260px;
  top:88px;
  width:162px;
  height:31px;
}
#u11845 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u11846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11846 {
  position:absolute;
  left:88px;
  top:126px;
  width:931px;
  height:546px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11847 {
  position:absolute;
  left:2px;
  top:265px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11848_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:961px;
  height:6px;
}
#u11848 {
  position:absolute;
  left:78px;
  top:116px;
  width:958px;
  height:3px;
}
#u11849 {
  position:absolute;
  left:2px;
  top:-6px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11850 {
  position:absolute;
  left:97px;
  top:178px;
  width:902px;
  height:161px;
}
#u11851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11851 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11852 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11853 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11854 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11855 {
  position:absolute;
  left:160px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11856 {
  position:absolute;
  left:5px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u11857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u11857 {
  position:absolute;
  left:310px;
  top:0px;
  width:128px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11858 {
  position:absolute;
  left:5px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u11859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u11859 {
  position:absolute;
  left:438px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11860 {
  position:absolute;
  left:5px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u11861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u11861 {
  position:absolute;
  left:618px;
  top:0px;
  width:136px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11862 {
  position:absolute;
  left:5px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u11863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u11863 {
  position:absolute;
  left:754px;
  top:0px;
  width:143px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11864 {
  position:absolute;
  left:5px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u11865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11865 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:36px;
  text-align:left;
}
#u11866 {
  position:absolute;
  left:5px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u11867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11867 {
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:36px;
  text-align:left;
}
#u11868 {
  position:absolute;
  left:5px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u11869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u11869 {
  position:absolute;
  left:160px;
  top:30px;
  width:150px;
  height:36px;
  text-align:left;
}
#u11870 {
  position:absolute;
  left:5px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u11871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u11871 {
  position:absolute;
  left:310px;
  top:30px;
  width:128px;
  height:36px;
  text-align:left;
}
#u11872 {
  position:absolute;
  left:5px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u11873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u11873 {
  position:absolute;
  left:438px;
  top:30px;
  width:180px;
  height:36px;
  text-align:left;
}
#u11874 {
  position:absolute;
  left:5px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u11875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u11875 {
  position:absolute;
  left:618px;
  top:30px;
  width:136px;
  height:36px;
  text-align:left;
}
#u11876 {
  position:absolute;
  left:5px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u11877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u11877 {
  position:absolute;
  left:754px;
  top:30px;
  width:143px;
  height:36px;
  text-decoration:underline;
  text-align:left;
}
#u11878 {
  position:absolute;
  left:5px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u11879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11879 {
  position:absolute;
  left:0px;
  top:66px;
  width:80px;
  height:30px;
  text-align:left;
}
#u11880 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11881 {
  position:absolute;
  left:80px;
  top:66px;
  width:80px;
  height:30px;
  text-align:left;
}
#u11882 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11883 {
  position:absolute;
  left:160px;
  top:66px;
  width:150px;
  height:30px;
  text-align:left;
}
#u11884 {
  position:absolute;
  left:5px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u11885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u11885 {
  position:absolute;
  left:310px;
  top:66px;
  width:128px;
  height:30px;
  text-align:left;
}
#u11886 {
  position:absolute;
  left:5px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u11887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u11887 {
  position:absolute;
  left:438px;
  top:66px;
  width:180px;
  height:30px;
  text-align:left;
}
#u11888 {
  position:absolute;
  left:5px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u11889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u11889 {
  position:absolute;
  left:618px;
  top:66px;
  width:136px;
  height:30px;
  text-align:left;
}
#u11890 {
  position:absolute;
  left:5px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u11891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u11891 {
  position:absolute;
  left:754px;
  top:66px;
  width:143px;
  height:30px;
  text-decoration:underline;
  color:#CCCCCC;
  text-align:left;
}
#u11892 {
  position:absolute;
  left:5px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11893 {
  position:absolute;
  left:0px;
  top:96px;
  width:80px;
  height:30px;
  text-align:left;
}
#u11894 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11895 {
  position:absolute;
  left:80px;
  top:96px;
  width:80px;
  height:30px;
  text-align:left;
}
#u11896 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11897 {
  position:absolute;
  left:160px;
  top:96px;
  width:150px;
  height:30px;
  text-align:left;
}
#u11898 {
  position:absolute;
  left:5px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u11899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u11899 {
  position:absolute;
  left:310px;
  top:96px;
  width:128px;
  height:30px;
  text-align:left;
}
#u11900 {
  position:absolute;
  left:5px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u11901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u11901 {
  position:absolute;
  left:438px;
  top:96px;
  width:180px;
  height:30px;
  text-align:left;
}
#u11902 {
  position:absolute;
  left:5px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u11903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u11903 {
  position:absolute;
  left:618px;
  top:96px;
  width:136px;
  height:30px;
  text-align:left;
}
#u11904 {
  position:absolute;
  left:5px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u11905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u11905 {
  position:absolute;
  left:754px;
  top:96px;
  width:143px;
  height:30px;
  text-decoration:underline;
  color:#CCCCCC;
  text-align:left;
}
#u11906 {
  position:absolute;
  left:5px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u11907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11907 {
  position:absolute;
  left:0px;
  top:126px;
  width:80px;
  height:30px;
  text-align:left;
}
#u11908 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11909 {
  position:absolute;
  left:80px;
  top:126px;
  width:80px;
  height:30px;
  text-align:left;
}
#u11910 {
  position:absolute;
  left:5px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u11911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11911 {
  position:absolute;
  left:160px;
  top:126px;
  width:150px;
  height:30px;
  text-align:left;
}
#u11912 {
  position:absolute;
  left:5px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u11913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u11913 {
  position:absolute;
  left:310px;
  top:126px;
  width:128px;
  height:30px;
  text-align:left;
}
#u11914 {
  position:absolute;
  left:5px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u11915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u11915 {
  position:absolute;
  left:438px;
  top:126px;
  width:180px;
  height:30px;
  text-align:left;
}
#u11916 {
  position:absolute;
  left:5px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u11917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u11917 {
  position:absolute;
  left:618px;
  top:126px;
  width:136px;
  height:30px;
  text-align:left;
}
#u11918 {
  position:absolute;
  left:5px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u11919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u11919 {
  position:absolute;
  left:754px;
  top:126px;
  width:143px;
  height:30px;
  text-decoration:underline;
  text-align:left;
}
#u11920 {
  position:absolute;
  left:5px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u11921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11921 {
  position:absolute;
  left:423px;
  top:88px;
  width:162px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11922 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u11923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11923 {
  position:absolute;
  left:879px;
  top:137px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11924 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
