body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5226 {
  position:absolute;
  left:20px;
  top:13px;
  width:868px;
  height:497px;
}
#u5227 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5228 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:451px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5230 {
  position:absolute;
  left:53px;
  top:34px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u5231 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:16px;
}
#u5232 {
  position:absolute;
  left:200px;
  top:85px;
  width:515px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  white-space:nowrap;
}
#u5234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5235 {
  position:absolute;
  left:86px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5236 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5237 {
  position:absolute;
  left:122px;
  top:335px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5238 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5239 {
  position:absolute;
  left:98px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5240 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5242 {
  position:absolute;
  left:212px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5243 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5244 {
  position:absolute;
  left:248px;
  top:335px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5245 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5246 {
  position:absolute;
  left:224px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5249 {
  position:absolute;
  left:338px;
  top:322px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5250 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u5251 {
  position:absolute;
  left:374px;
  top:335px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5252 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5253 {
  position:absolute;
  left:350px;
  top:365px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5256 {
  position:absolute;
  left:86px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5257 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5258 {
  position:absolute;
  left:120px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5259 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5260 {
  position:absolute;
  left:98px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5261 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5263 {
  position:absolute;
  left:212px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5264 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5265 {
  position:absolute;
  left:248px;
  top:131px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5267 {
  position:absolute;
  left:224px;
  top:161px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5268 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5270 {
  position:absolute;
  left:338px;
  top:118px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5271 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5272 {
  position:absolute;
  left:374px;
  top:131px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5274 {
  position:absolute;
  left:350px;
  top:161px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5277 {
  position:absolute;
  left:461px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5278 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5279 {
  position:absolute;
  left:495px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5280 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5281 {
  position:absolute;
  left:473px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5282 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5284 {
  position:absolute;
  left:586px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5285 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5286 {
  position:absolute;
  left:620px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5287 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5288 {
  position:absolute;
  left:598px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5289 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5291 {
  position:absolute;
  left:719px;
  top:118px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5292 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5293 {
  position:absolute;
  left:753px;
  top:131px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5294 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5295 {
  position:absolute;
  left:731px;
  top:162px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5296 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5298 {
  position:absolute;
  left:86px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5299 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5300 {
  position:absolute;
  left:120px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5301 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5302 {
  position:absolute;
  left:98px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5303 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5305 {
  position:absolute;
  left:212px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5306 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5307 {
  position:absolute;
  left:246px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5308 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5309 {
  position:absolute;
  left:224px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5310 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5312 {
  position:absolute;
  left:719px;
  top:219px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5313 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5314 {
  position:absolute;
  left:755px;
  top:232px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5315 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5316 {
  position:absolute;
  left:731px;
  top:262px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5319 {
  position:absolute;
  left:338px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5320 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5321 {
  position:absolute;
  left:372px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5322 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5323 {
  position:absolute;
  left:350px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5324 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5326 {
  position:absolute;
  left:461px;
  top:219px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u5327 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u5328 {
  position:absolute;
  left:495px;
  top:232px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u5329 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u5330 {
  position:absolute;
  left:473px;
  top:263px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5331 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u5333 {
  position:absolute;
  left:586px;
  top:219px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u5334 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u5335 {
  position:absolute;
  left:622px;
  top:232px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5336 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u5337 {
  position:absolute;
  left:598px;
  top:262px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5338 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u5339 {
  position:absolute;
  left:53px;
  top:425px;
  width:806px;
  height:1px;
}
#u5340 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5341 {
  position:absolute;
  left:522px;
  top:442px;
  width:75px;
  height:31px;
}
#u5342 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5343 {
  position:absolute;
  left:400px;
  top:442px;
  width:75px;
  height:31px;
}
#u5344 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u5345 {
  position:absolute;
  left:785px;
  top:42px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u5346 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
