body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:5324px;
}
#u11437 {
  position:absolute;
  left:0px;
  top:8px;
  width:1280px;
  height:5324px;
}
#u11438 {
  position:absolute;
  left:2px;
  top:2654px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
