body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:804px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:80px;
}
#u12962 {
  position:absolute;
  left:64px;
  top:26px;
  width:740px;
  height:80px;
}
#u12963 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
