body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:684px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11941 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:684px;
}
#u11942 {
  position:absolute;
  left:2px;
  top:334px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11943 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:62px;
}
#u11944 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u11945 {
  position:absolute;
  left:23px;
  top:30px;
  width:15px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u11947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u11947 {
  position:absolute;
  left:125px;
  top:25px;
  width:40px;
  height:38px;
  font-size:12px;
  color:#666666;
}
#u11948 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u11949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11949 {
  position:absolute;
  left:48px;
  top:22px;
  width:29px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11950 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u11951 {
  position:absolute;
  left:91px;
  top:19px;
  width:1px;
  height:49px;
}
#u11952 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u11953 {
  position:absolute;
  left:176px;
  top:23px;
  width:584px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u11955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11955 {
  position:absolute;
  left:826px;
  top:23px;
  width:87px;
  height:24px;
}
#u11956 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u11957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11957 {
  position:absolute;
  left:932px;
  top:23px;
  width:87px;
  height:24px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u11959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u11959 {
  position:absolute;
  left:528px;
  top:21px;
  width:71px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#66FFFF;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:17px;
}
#u11961 {
  position:absolute;
  left:801px;
  top:51px;
  width:218px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u11962 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u11963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11963 {
  position:absolute;
  left:78px;
  top:75px;
  width:957px;
  height:621px;
}
#u11964 {
  position:absolute;
  left:2px;
  top:302px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11965 {
  position:absolute;
  left:17px;
  top:217px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u11966 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u11967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11967 {
  position:absolute;
  left:17px;
  top:85px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u11968 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u11969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11969 {
  position:absolute;
  left:17px;
  top:151px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u11970 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u11971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11971 {
  position:absolute;
  left:91px;
  top:85px;
  width:162px;
  height:31px;
}
#u11972 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u11973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11973 {
  position:absolute;
  left:254px;
  top:85px;
  width:162px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11974 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11975 {
  position:absolute;
  left:417px;
  top:85px;
  width:162px;
  height:31px;
}
#u11976 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u11977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11977 {
  position:absolute;
  left:88px;
  top:126px;
  width:931px;
  height:546px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11978 {
  position:absolute;
  left:2px;
  top:265px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11979_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:961px;
  height:6px;
}
#u11979 {
  position:absolute;
  left:78px;
  top:116px;
  width:958px;
  height:3px;
}
#u11980 {
  position:absolute;
  left:2px;
  top:-6px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11981 {
  position:absolute;
  left:467px;
  top:145px;
  width:217px;
  height:16px;
  font-size:18px;
}
#u11982 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u11983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11983 {
  position:absolute;
  left:103px;
  top:183px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11984 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11985 {
  position:absolute;
  left:210px;
  top:183px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11986 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11987 {
  position:absolute;
  left:317px;
  top:183px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11988 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11989 {
  position:absolute;
  left:424px;
  top:183px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11990 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11991 {
  position:absolute;
  left:531px;
  top:183px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11992 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11993 {
  position:absolute;
  left:638px;
  top:183px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u11994 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11995 {
  position:absolute;
  left:745px;
  top:183px;
  width:129px;
  height:31px;
  color:#FFFFFF;
}
#u11996 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u11997 {
  position:absolute;
  left:104px;
  top:242px;
  width:909px;
  height:161px;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u11998 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11999 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12000 {
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12001 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u12002 {
  position:absolute;
  left:188px;
  top:0px;
  width:176px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12003 {
  position:absolute;
  left:5px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u12004 {
  position:absolute;
  left:364px;
  top:0px;
  width:211px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12005 {
  position:absolute;
  left:5px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u12006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u12006 {
  position:absolute;
  left:575px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12007 {
  position:absolute;
  left:5px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u12008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u12008 {
  position:absolute;
  left:735px;
  top:0px;
  width:169px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12009 {
  position:absolute;
  left:5px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u12010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u12010 {
  position:absolute;
  left:0px;
  top:30px;
  width:94px;
  height:36px;
  text-align:left;
}
#u12011 {
  position:absolute;
  left:5px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u12012 {
  position:absolute;
  left:94px;
  top:30px;
  width:94px;
  height:36px;
  text-align:left;
}
#u12013 {
  position:absolute;
  left:5px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u12014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
#u12014 {
  position:absolute;
  left:188px;
  top:30px;
  width:176px;
  height:36px;
  text-align:left;
}
#u12015 {
  position:absolute;
  left:5px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u12016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
}
#u12016 {
  position:absolute;
  left:364px;
  top:30px;
  width:211px;
  height:36px;
  text-align:left;
}
#u12017 {
  position:absolute;
  left:5px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u12018 {
  position:absolute;
  left:575px;
  top:30px;
  width:160px;
  height:36px;
  text-align:left;
}
#u12019 {
  position:absolute;
  left:5px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u12020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u12020 {
  position:absolute;
  left:735px;
  top:30px;
  width:169px;
  height:36px;
  text-align:left;
}
#u12021 {
  position:absolute;
  left:5px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u12022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12022 {
  position:absolute;
  left:0px;
  top:66px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12023 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12024 {
  position:absolute;
  left:94px;
  top:66px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12025 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u12026 {
  position:absolute;
  left:188px;
  top:66px;
  width:176px;
  height:30px;
  text-align:left;
}
#u12027 {
  position:absolute;
  left:5px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u12028 {
  position:absolute;
  left:364px;
  top:66px;
  width:211px;
  height:30px;
  text-align:left;
}
#u12029 {
  position:absolute;
  left:5px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u12030 {
  position:absolute;
  left:575px;
  top:66px;
  width:160px;
  height:30px;
  text-align:left;
}
#u12031 {
  position:absolute;
  left:5px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u12032 {
  position:absolute;
  left:735px;
  top:66px;
  width:169px;
  height:30px;
  text-align:left;
}
#u12033 {
  position:absolute;
  left:5px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12034 {
  position:absolute;
  left:0px;
  top:96px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12035 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12036 {
  position:absolute;
  left:94px;
  top:96px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12037 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u12038 {
  position:absolute;
  left:188px;
  top:96px;
  width:176px;
  height:30px;
  text-align:left;
}
#u12039 {
  position:absolute;
  left:5px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u12040 {
  position:absolute;
  left:364px;
  top:96px;
  width:211px;
  height:30px;
  text-align:left;
}
#u12041 {
  position:absolute;
  left:5px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u12042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u12042 {
  position:absolute;
  left:575px;
  top:96px;
  width:160px;
  height:30px;
  text-align:left;
}
#u12043 {
  position:absolute;
  left:5px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u12044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u12044 {
  position:absolute;
  left:735px;
  top:96px;
  width:169px;
  height:30px;
  text-align:left;
}
#u12045 {
  position:absolute;
  left:5px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u12046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12046 {
  position:absolute;
  left:0px;
  top:126px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12047 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12048 {
  position:absolute;
  left:94px;
  top:126px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12049 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u12050 {
  position:absolute;
  left:188px;
  top:126px;
  width:176px;
  height:30px;
  text-align:left;
}
#u12051 {
  position:absolute;
  left:5px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u12052 {
  position:absolute;
  left:364px;
  top:126px;
  width:211px;
  height:30px;
  text-align:left;
}
#u12053 {
  position:absolute;
  left:5px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u12054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u12054 {
  position:absolute;
  left:575px;
  top:126px;
  width:160px;
  height:30px;
  text-align:left;
}
#u12055 {
  position:absolute;
  left:5px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u12056 {
  position:absolute;
  left:735px;
  top:126px;
  width:169px;
  height:30px;
  text-align:left;
}
#u12057 {
  position:absolute;
  left:5px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u12058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12058 {
  position:absolute;
  left:921px;
  top:183px;
  width:92px;
  height:31px;
  color:#666666;
}
#u12059 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u12060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:right;
}
#u12060 {
  position:absolute;
  left:935px;
  top:151px;
  width:73px;
  height:16px;
  color:#008000;
  text-align:right;
}
#u12061 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12062 {
  position:absolute;
  left:580px;
  top:85px;
  width:162px;
  height:31px;
}
#u12063 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
