body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10450 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:627px;
}
#u10451 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10452 {
  position:absolute;
  left:257px;
  top:90px;
  width:226px;
  height:58px;
}
#u10453 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10454 {
  position:absolute;
  left:482px;
  top:90px;
  width:226px;
  height:58px;
}
#u10455 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10456 {
  position:absolute;
  left:298px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10457 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10458 {
  position:absolute;
  left:521px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10459 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10460 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:62px;
}
#u10461 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10462 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u10463 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u10464 {
  position:absolute;
  left:85px;
  top:24px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u10465 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u10466 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u10467 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10468 {
  position:absolute;
  left:33px;
  top:90px;
  width:226px;
  height:58px;
}
#u10469 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10470 {
  position:absolute;
  left:72px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10471 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u10473 {
  position:absolute;
  left:955px;
  top:27px;
  width:34px;
  height:34px;
}
#u10474 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u10475 {
  position:absolute;
  left:1003px;
  top:27px;
  width:34px;
  height:34px;
}
#u10476 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u10477 {
  position:absolute;
  left:907px;
  top:27px;
  width:34px;
  height:34px;
}
#u10478 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10479 {
  position:absolute;
  left:913px;
  top:33px;
  width:22px;
  height:22px;
}
#u10480 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10481 {
  position:absolute;
  left:962px;
  top:34px;
  width:20px;
  height:20px;
}
#u10482 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10483 {
  position:absolute;
  left:1008px;
  top:32px;
  width:24px;
  height:24px;
}
#u10484 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10485 {
  position:absolute;
  left:447px;
  top:103px;
  width:12px;
  height:12px;
}
#u10486 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10487 {
  position:absolute;
  left:221px;
  top:103px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u10488 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10489 {
  position:absolute;
  left:893px;
  top:26px;
  width:144px;
  height:48px;
}
#u10490 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10492 {
  position:absolute;
  left:836px;
  top:36px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10493 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u10494 {
  position:absolute;
  left:797px;
  top:28px;
  width:32px;
  height:32px;
}
#u10495 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10496 {
  position:absolute;
  left:936px;
  top:29px;
  width:22px;
  height:22px;
}
#u10497 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u10499 {
  position:absolute;
  left:471px;
  top:34px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u10500 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u10501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10501 {
  position:absolute;
  left:649px;
  top:37px;
  width:20px;
  height:20px;
}
#u10502 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10504 {
  position:absolute;
  left:697px;
  top:33px;
  width:26px;
  height:26px;
}
#u10505 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u10506 {
  position:absolute;
  left:714px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u10507 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u10508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u10508 {
  position:absolute;
  left:992px;
  top:36px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u10509 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u10510 {
  position:absolute;
  left:972px;
  top:34px;
  width:1px;
  height:20px;
}
#u10511 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10513 {
  position:absolute;
  left:748px;
  top:33px;
  width:26px;
  height:26px;
}
#u10514 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u10515 {
  position:absolute;
  left:765px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u10516 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u10517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:552px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10517 {
  position:absolute;
  left:17px;
  top:123px;
  width:1022px;
  height:552px;
}
#u10518 {
  position:absolute;
  left:2px;
  top:268px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:536px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10519 {
  position:absolute;
  left:18px;
  top:130px;
  width:178px;
  height:536px;
}
#u10520 {
  position:absolute;
  left:2px;
  top:260px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10521 {
  position:absolute;
  left:79px;
  top:129px;
  width:94px;
  height:546px;
}
#u10522 {
  position:absolute;
  left:2px;
  top:265px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10523 {
  position:absolute;
  left:174px;
  top:129px;
  width:864px;
  height:537px;
}
#u10524 {
  position:absolute;
  left:2px;
  top:260px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10525 {
  position:absolute;
  left:100px;
  top:141px;
  width:61px;
  height:57px;
  font-size:14px;
}
#u10526 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:306px;
}
#u10527 {
  position:absolute;
  left:185px;
  top:141px;
  width:847px;
  height:306px;
}
#u10528 {
  position:absolute;
  left:2px;
  top:145px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10529 {
  position:absolute;
  left:100px;
  top:211px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u10530 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u10531 {
  position:absolute;
  left:148px;
  top:294px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10532 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10533 {
  position:absolute;
  left:100px;
  top:277px;
  width:61px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10534 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10535 {
  position:absolute;
  left:18px;
  top:502px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10536 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10537 {
  position:absolute;
  left:18px;
  top:130px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10538 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u10539 {
  position:absolute;
  left:18px;
  top:277px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10540 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u10541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10541 {
  position:absolute;
  left:18px;
  top:213px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10542 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u10543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u10543 {
  position:absolute;
  left:18px;
  top:437px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10544 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10545 {
  position:absolute;
  left:18px;
  top:372px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10546 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
