body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1608px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12457 {
  position:absolute;
  left:12px;
  top:302px;
  width:173px;
  height:38px;
}
#u12458 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:748px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12459 {
  position:absolute;
  left:12px;
  top:85px;
  width:173px;
  height:748px;
}
#u12460 {
  position:absolute;
  left:2px;
  top:366px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12461 {
  position:absolute;
  left:12px;
  top:302px;
  width:173px;
  height:38px;
}
#u12462 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12463 {
  position:absolute;
  left:12px;
  top:85px;
  width:173px;
  height:170px;
}
#u12464 {
  position:absolute;
  left:2px;
  top:77px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:78px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12465 {
  position:absolute;
  left:12px;
  top:8px;
  width:1193px;
  height:78px;
}
#u12466 {
  position:absolute;
  left:2px;
  top:31px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:38px;
}
#u12467 {
  position:absolute;
  left:27px;
  top:28px;
  width:400px;
  height:38px;
}
#u12468 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12469 {
  position:absolute;
  left:1045px;
  top:32px;
  width:30px;
  height:30px;
}
#u12470 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12471 {
  position:absolute;
  left:1147px;
  top:32px;
  width:30px;
  height:30px;
}
#u12472 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u12473 {
  position:absolute;
  left:1099px;
  top:32px;
  width:24px;
  height:30px;
}
#u12474 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:147px;
}
#u12475 {
  position:absolute;
  left:21px;
  top:96px;
  width:155px;
  height:147px;
}
#u12476 {
  position:absolute;
  left:2px;
  top:66px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12477 {
  position:absolute;
  left:12px;
  top:265px;
  width:173px;
  height:38px;
}
#u12478 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12479 {
  position:absolute;
  left:24px;
  top:275px;
  width:20px;
  height:20px;
}
#u12480 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12481 {
  position:absolute;
  left:54px;
  top:275px;
  width:57px;
  height:16px;
}
#u12482 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12483 {
  position:absolute;
  left:24px;
  top:312px;
  width:20px;
  height:20px;
}
#u12484 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12485 {
  position:absolute;
  left:54px;
  top:312px;
  width:57px;
  height:16px;
}
#u12486 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:2px;
}
#u12487 {
  position:absolute;
  left:195px;
  top:116px;
  width:1010px;
  height:1px;
}
#u12488 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12489 {
  position:absolute;
  left:206px;
  top:96px;
  width:502px;
  height:16px;
}
#u12490 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u12491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12491 {
  position:absolute;
  left:12px;
  top:339px;
  width:173px;
  height:38px;
}
#u12492 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12493 {
  position:absolute;
  left:54px;
  top:349px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u12494 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u12495 {
  position:absolute;
  left:38px;
  top:351px;
  width:8px;
  height:12px;
}
#u12496 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12497 {
  position:absolute;
  left:12px;
  top:376px;
  width:173px;
  height:38px;
}
#u12498 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12499 {
  position:absolute;
  left:54px;
  top:386px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u12500 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u12501 {
  position:absolute;
  left:38px;
  top:388px;
  width:8px;
  height:12px;
}
#u12502 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12503 {
  position:absolute;
  left:12px;
  top:413px;
  width:173px;
  height:38px;
}
#u12504 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12505 {
  position:absolute;
  left:54px;
  top:423px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u12506 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u12507 {
  position:absolute;
  left:38px;
  top:425px;
  width:8px;
  height:12px;
}
#u12508 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12509 {
  position:absolute;
  left:12px;
  top:450px;
  width:173px;
  height:38px;
}
#u12510 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12511 {
  position:absolute;
  left:54px;
  top:460px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u12512 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u12513 {
  position:absolute;
  left:38px;
  top:462px;
  width:8px;
  height:12px;
}
#u12514 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:520px;
}
#u12515 {
  position:absolute;
  left:206px;
  top:207px;
  width:999px;
  height:520px;
}
#u12516 {
  position:absolute;
  left:2px;
  top:252px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:48px;
}
#u12517 {
  position:absolute;
  left:206px;
  top:138px;
  width:337px;
  height:48px;
}
#u12518 {
  position:absolute;
  left:2px;
  top:16px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12519 {
  position:absolute;
  left:1085px;
  top:306px;
  width:18px;
  height:16px;
}
#u12520 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12521 {
  position:absolute;
  left:1085px;
  top:342px;
  width:18px;
  height:16px;
}
#u12522 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12523 {
  position:absolute;
  left:1085px;
  top:384px;
  width:18px;
  height:16px;
}
#u12524 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12525 {
  position:absolute;
  left:1085px;
  top:421px;
  width:18px;
  height:16px;
}
#u12526 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12527 {
  position:absolute;
  left:1085px;
  top:461px;
  width:18px;
  height:16px;
}
#u12528 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u12529 {
  position:absolute;
  left:1118px;
  top:494px;
  width:26px;
  height:28px;
}
#u12530 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u12531 {
  position:absolute;
  left:1118px;
  top:532px;
  width:26px;
  height:28px;
}
#u12532 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u12533 {
  position:absolute;
  left:1118px;
  top:609px;
  width:26px;
  height:28px;
}
#u12534 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u12535 {
  position:absolute;
  left:1118px;
  top:648px;
  width:26px;
  height:28px;
}
#u12536 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
  background:inherit;
  background-color:rgba(251, 251, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12537 {
  position:absolute;
  left:1079px;
  top:492px;
  width:21px;
  height:28px;
}
#u12538 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
  background:inherit;
  background-color:rgba(251, 251, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12539 {
  position:absolute;
  left:1079px;
  top:648px;
  width:21px;
  height:28px;
}
#u12540 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12541 {
  position:absolute;
  left:1078px;
  top:610px;
  width:23px;
  height:28px;
}
#u12542 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12543 {
  position:absolute;
  left:1079px;
  top:530px;
  width:23px;
  height:28px;
}
#u12544 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12545 {
  position:absolute;
  left:1085px;
  top:501px;
  width:18px;
  height:16px;
}
#u12546 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12547 {
  position:absolute;
  left:1085px;
  top:537px;
  width:18px;
  height:16px;
}
#u12548 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12549 {
  position:absolute;
  left:1085px;
  top:578px;
  width:18px;
  height:16px;
}
#u12550 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12551 {
  position:absolute;
  left:1085px;
  top:618px;
  width:18px;
  height:16px;
}
#u12552 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u12553 {
  position:absolute;
  left:1085px;
  top:655px;
  width:18px;
  height:16px;
}
#u12554 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12555 {
  position:absolute;
  left:1283px;
  top:306px;
  width:325px;
  height:16px;
}
#u12556 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u12557_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:191px;
  height:21px;
}
#u12557p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:182px;
  height:1px;
}
#u12557p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:193px;
  height:21px;
}
#u12557p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u12557p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u12557p002 {
  position:absolute;
  left:179px;
  top:0px;
  width:2px;
  height:1px;
}
#u12557p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u12557.compound {
  width:0px;
  height:0px;
}
#u12557 {
  position:absolute;
  left:1103px;
  top:314px;
  width:180px;
  height:1px;
}
#u12558 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
