body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:684px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11987 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:684px;
}
#u11988 {
  position:absolute;
  left:2px;
  top:334px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11989 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:62px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u11991 {
  position:absolute;
  left:23px;
  top:30px;
  width:15px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u11992 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u11993 {
  position:absolute;
  left:125px;
  top:25px;
  width:40px;
  height:38px;
  font-size:12px;
  color:#666666;
}
#u11994 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u11995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11995 {
  position:absolute;
  left:48px;
  top:22px;
  width:29px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u11997 {
  position:absolute;
  left:91px;
  top:19px;
  width:1px;
  height:49px;
}
#u11998 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u11999 {
  position:absolute;
  left:176px;
  top:23px;
  width:584px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u12000 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u12001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12001 {
  position:absolute;
  left:826px;
  top:23px;
  width:87px;
  height:24px;
}
#u12002 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u12003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12003 {
  position:absolute;
  left:932px;
  top:23px;
  width:87px;
  height:24px;
}
#u12004 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u12005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u12005 {
  position:absolute;
  left:528px;
  top:21px;
  width:71px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#66FFFF;
}
#u12006 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:17px;
}
#u12007 {
  position:absolute;
  left:801px;
  top:51px;
  width:218px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u12008 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u12009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12009 {
  position:absolute;
  left:78px;
  top:75px;
  width:957px;
  height:621px;
}
#u12010 {
  position:absolute;
  left:2px;
  top:302px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12011 {
  position:absolute;
  left:17px;
  top:217px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u12013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12013 {
  position:absolute;
  left:17px;
  top:85px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u12015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12015 {
  position:absolute;
  left:17px;
  top:151px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u12017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12017 {
  position:absolute;
  left:91px;
  top:85px;
  width:162px;
  height:31px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u12019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12019 {
  position:absolute;
  left:254px;
  top:85px;
  width:162px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12020 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u12021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12021 {
  position:absolute;
  left:417px;
  top:85px;
  width:162px;
  height:31px;
}
#u12022 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u12023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u12023 {
  position:absolute;
  left:88px;
  top:126px;
  width:931px;
  height:546px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u12024 {
  position:absolute;
  left:2px;
  top:265px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12025_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:961px;
  height:6px;
}
#u12025 {
  position:absolute;
  left:78px;
  top:116px;
  width:958px;
  height:3px;
}
#u12026 {
  position:absolute;
  left:2px;
  top:-6px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12027 {
  position:absolute;
  left:103px;
  top:141px;
  width:98px;
  height:31px;
  color:#FFFFFF;
}
#u12028 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12029 {
  position:absolute;
  left:104px;
  top:200px;
  width:872px;
  height:95px;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12030 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12031 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u12032 {
  position:absolute;
  left:94px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12033 {
  position:absolute;
  left:5px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u12034 {
  position:absolute;
  left:203px;
  top:0px;
  width:171px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12035 {
  position:absolute;
  left:5px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12036 {
  position:absolute;
  left:374px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12037 {
  position:absolute;
  left:5px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12038 {
  position:absolute;
  left:441px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12039 {
  position:absolute;
  left:5px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12040 {
  position:absolute;
  left:508px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12041 {
  position:absolute;
  left:5px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u12042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u12042 {
  position:absolute;
  left:608px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12043 {
  position:absolute;
  left:5px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u12044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u12044 {
  position:absolute;
  left:668px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12045 {
  position:absolute;
  left:5px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u12046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12046 {
  position:absolute;
  left:0px;
  top:30px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12047 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u12048 {
  position:absolute;
  left:94px;
  top:30px;
  width:109px;
  height:30px;
  text-align:left;
}
#u12049 {
  position:absolute;
  left:5px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u12050 {
  position:absolute;
  left:203px;
  top:30px;
  width:171px;
  height:30px;
  text-decoration:underline;
  text-align:left;
}
#u12051 {
  position:absolute;
  left:5px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12052 {
  position:absolute;
  left:374px;
  top:30px;
  width:67px;
  height:30px;
  text-align:left;
}
#u12053 {
  position:absolute;
  left:5px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u12054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12054 {
  position:absolute;
  left:441px;
  top:30px;
  width:67px;
  height:30px;
  text-align:left;
}
#u12055 {
  position:absolute;
  left:5px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12056 {
  position:absolute;
  left:508px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u12057 {
  position:absolute;
  left:5px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u12058 {
  position:absolute;
  left:608px;
  top:30px;
  width:60px;
  height:30px;
  text-align:left;
}
#u12059 {
  position:absolute;
  left:5px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u12060 {
  position:absolute;
  left:668px;
  top:30px;
  width:199px;
  height:30px;
  text-align:left;
}
#u12061 {
  position:absolute;
  left:5px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12062 {
  position:absolute;
  left:0px;
  top:60px;
  width:94px;
  height:30px;
  text-align:left;
}
#u12063 {
  position:absolute;
  left:5px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u12064 {
  position:absolute;
  left:94px;
  top:60px;
  width:109px;
  height:30px;
  text-align:left;
}
#u12065 {
  position:absolute;
  left:5px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u12066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u12066 {
  position:absolute;
  left:203px;
  top:60px;
  width:171px;
  height:30px;
  text-decoration:underline;
  text-align:left;
}
#u12067 {
  position:absolute;
  left:5px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12068 {
  position:absolute;
  left:374px;
  top:60px;
  width:67px;
  height:30px;
  text-align:left;
}
#u12069 {
  position:absolute;
  left:5px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u12070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12070 {
  position:absolute;
  left:441px;
  top:60px;
  width:67px;
  height:30px;
  text-align:left;
}
#u12071 {
  position:absolute;
  left:5px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u12072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12072 {
  position:absolute;
  left:508px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u12073 {
  position:absolute;
  left:5px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u12074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u12074 {
  position:absolute;
  left:608px;
  top:60px;
  width:60px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u12075 {
  position:absolute;
  left:5px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u12076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u12076 {
  position:absolute;
  left:668px;
  top:60px;
  width:199px;
  height:30px;
  text-decoration:underline;
  text-align:left;
}
#u12077 {
  position:absolute;
  left:5px;
  top:7px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12078 {
  position:absolute;
  left:424px;
  top:312px;
  width:191px;
  height:16px;
}
#u12079 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u12080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12080 {
  position:absolute;
  left:617px;
  top:307px;
  width:78px;
  height:26px;
  text-align:left;
}
#u12081 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12082 {
  position:absolute;
  left:680px;
  top:315px;
  width:10px;
  height:10px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12084 {
  position:absolute;
  left:700px;
  top:307px;
  width:41px;
  height:26px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u12086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12086 {
  position:absolute;
  left:751px;
  top:307px;
  width:56px;
  height:26px;
}
#u12087 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u12088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12088 {
  position:absolute;
  left:817px;
  top:307px;
  width:27px;
  height:26px;
}
#u12089 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u12090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12090 {
  position:absolute;
  left:854px;
  top:307px;
  width:56px;
  height:26px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u12092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12092 {
  position:absolute;
  left:920px;
  top:307px;
  width:56px;
  height:26px;
}
#u12093 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
