body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:463px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12873 {
  position:absolute;
  left:89px;
  top:105px;
  width:787px;
  height:463px;
}
#u12874 {
  position:absolute;
  left:2px;
  top:224px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12875 {
  position:absolute;
  left:151px;
  top:146px;
  width:685px;
  height:30px;
}
#u12876 {
  position:absolute;
  left:2px;
  top:7px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12877 {
  position:absolute;
  left:165px;
  top:153px;
  width:85px;
  height:16px;
}
#u12878 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12879 {
  position:absolute;
  left:782px;
  top:153px;
  width:32px;
  height:16px;
  text-align:center;
}
#u12880 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12881 {
  position:absolute;
  left:151px;
  top:175px;
  width:685px;
  height:352px;
}
#u12882 {
  position:absolute;
  left:2px;
  top:168px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12883 {
  position:absolute;
  left:512px;
  top:459px;
  width:75px;
  height:31px;
}
#u12884 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:390px;
  top:459px;
  width:75px;
  height:31px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u12887 {
  position:absolute;
  left:186px;
  top:265px;
  width:588px;
  height:125px;
}
#u12888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  text-align:left;
}
#u12889 {
  position:absolute;
  left:5px;
  top:7px;
  width:293px;
  word-wrap:break-word;
}
#u12890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u12890 {
  position:absolute;
  left:300px;
  top:0px;
  width:108px;
  height:30px;
  text-align:left;
}
#u12891 {
  position:absolute;
  left:5px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u12892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12892 {
  position:absolute;
  left:408px;
  top:0px;
  width:98px;
  height:30px;
  text-align:left;
}
#u12893 {
  position:absolute;
  left:5px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u12894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u12894 {
  position:absolute;
  left:506px;
  top:0px;
  width:77px;
  height:30px;
  text-align:left;
}
#u12895 {
  position:absolute;
  left:5px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u12896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u12896 {
  position:absolute;
  left:0px;
  top:30px;
  width:300px;
  height:30px;
  text-align:left;
}
#u12897 {
  position:absolute;
  left:5px;
  top:7px;
  width:293px;
  word-wrap:break-word;
}
#u12898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u12898 {
  position:absolute;
  left:300px;
  top:30px;
  width:108px;
  height:30px;
  text-align:left;
}
#u12899 {
  position:absolute;
  left:5px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u12900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12900 {
  position:absolute;
  left:408px;
  top:30px;
  width:98px;
  height:30px;
  text-align:left;
}
#u12901 {
  position:absolute;
  left:5px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u12902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u12902 {
  position:absolute;
  left:506px;
  top:30px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#008000;
  text-align:left;
}
#u12903 {
  position:absolute;
  left:5px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u12904 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:30px;
  text-align:left;
}
#u12905 {
  position:absolute;
  left:5px;
  top:7px;
  width:293px;
  word-wrap:break-word;
}
#u12906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u12906 {
  position:absolute;
  left:300px;
  top:60px;
  width:108px;
  height:30px;
  text-align:left;
}
#u12907 {
  position:absolute;
  left:5px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u12908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12908 {
  position:absolute;
  left:408px;
  top:60px;
  width:98px;
  height:30px;
  text-align:left;
}
#u12909 {
  position:absolute;
  left:5px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u12910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u12910 {
  position:absolute;
  left:506px;
  top:60px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#008000;
  text-align:left;
}
#u12911 {
  position:absolute;
  left:5px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u12912 {
  position:absolute;
  left:0px;
  top:90px;
  width:300px;
  height:30px;
  text-align:left;
}
#u12913 {
  position:absolute;
  left:5px;
  top:7px;
  width:293px;
  word-wrap:break-word;
}
#u12914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u12914 {
  position:absolute;
  left:300px;
  top:90px;
  width:108px;
  height:30px;
  text-align:left;
}
#u12915 {
  position:absolute;
  left:5px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u12916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12916 {
  position:absolute;
  left:408px;
  top:90px;
  width:98px;
  height:30px;
  text-align:left;
}
#u12917 {
  position:absolute;
  left:5px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u12918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u12918 {
  position:absolute;
  left:506px;
  top:90px;
  width:77px;
  height:30px;
  text-decoration:underline;
  color:#008000;
  text-align:left;
}
#u12919 {
  position:absolute;
  left:5px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12920 {
  position:absolute;
  left:694px;
  top:268px;
  width:64px;
  height:16px;
}
#u12921 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12920_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12922 {
  position:absolute;
  left:694px;
  top:298px;
  width:64px;
  height:16px;
}
#u12923 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12922_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12924 {
  position:absolute;
  left:694px;
  top:329px;
  width:64px;
  height:16px;
}
#u12925 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12924_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12926 {
  position:absolute;
  left:217px;
  top:397px;
  width:191px;
  height:16px;
}
#u12927 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u12928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12928 {
  position:absolute;
  left:410px;
  top:392px;
  width:78px;
  height:26px;
  text-align:left;
}
#u12929 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u12930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12930 {
  position:absolute;
  left:473px;
  top:400px;
  width:10px;
  height:10px;
}
#u12931 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12932 {
  position:absolute;
  left:493px;
  top:392px;
  width:41px;
  height:26px;
}
#u12933 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u12934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12934 {
  position:absolute;
  left:544px;
  top:392px;
  width:56px;
  height:26px;
}
#u12935 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u12936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12936 {
  position:absolute;
  left:610px;
  top:392px;
  width:27px;
  height:26px;
}
#u12937 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12938 {
  position:absolute;
  left:647px;
  top:392px;
  width:56px;
  height:26px;
}
#u12939 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u12940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12940 {
  position:absolute;
  left:713px;
  top:392px;
  width:56px;
  height:26px;
}
#u12941 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u12942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12942 {
  position:absolute;
  left:186px;
  top:220px;
  width:71px;
  height:16px;
}
#u12943 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12944 {
  position:absolute;
  left:257px;
  top:214px;
  width:106px;
  height:24px;
}
#u12945 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12946 {
  position:absolute;
  left:390px;
  top:220px;
  width:75px;
  height:16px;
}
#u12947 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12948 {
  position:absolute;
  left:556px;
  top:220px;
  width:43px;
  height:16px;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12950 {
  position:absolute;
  left:703px;
  top:214px;
  width:60px;
  height:24px;
  color:#FFFFFF;
}
#u12951 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u12952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12953 {
  position:absolute;
  left:461px;
  top:214px;
  width:67px;
  height:24px;
}
#u12954 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u12955 {
  position:absolute;
  left:507px;
  top:223px;
  width:12px;
  height:10px;
}
#u12956 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12958 {
  position:absolute;
  left:597px;
  top:214px;
  width:67px;
  height:24px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u12960 {
  position:absolute;
  left:643px;
  top:223px;
  width:12px;
  height:10px;
}
#u12961 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
