body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:885px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:507px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6815 {
  position:absolute;
  left:10px;
  top:20px;
  width:875px;
  height:507px;
}
#u6816 {
  position:absolute;
  left:2px;
  top:246px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6817 {
  position:absolute;
  left:72px;
  top:107px;
  width:667px;
  height:30px;
}
#u6818 {
  position:absolute;
  left:2px;
  top:7px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6819 {
  position:absolute;
  left:86px;
  top:114px;
  width:85px;
  height:16px;
}
#u6820 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6821 {
  position:absolute;
  left:681px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u6822 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6823 {
  position:absolute;
  left:72px;
  top:136px;
  width:667px;
  height:331px;
}
#u6824 {
  position:absolute;
  left:2px;
  top:158px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6825 {
  position:absolute;
  left:408px;
  top:418px;
  width:75px;
  height:31px;
}
#u6826 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6827 {
  position:absolute;
  left:286px;
  top:418px;
  width:75px;
  height:31px;
}
#u6828 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u6829 {
  position:absolute;
  left:95px;
  top:161px;
  width:139px;
  height:16px;
}
#u6830 {
  position:absolute;
  left:16px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u6829_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6831 {
  position:absolute;
  left:100px;
  top:194px;
  width:57px;
  height:16px;
}
#u6832 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6833 {
  position:absolute;
  left:156px;
  top:188px;
  width:53px;
  height:29px;
  text-align:left;
}
#u6834 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u6835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6835 {
  position:absolute;
  left:257px;
  top:194px;
  width:57px;
  height:16px;
}
#u6836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6837 {
  position:absolute;
  left:313px;
  top:188px;
  width:53px;
  height:29px;
  text-align:left;
}
#u6838 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u6839 {
  position:absolute;
  left:95px;
  top:245px;
  width:162px;
  height:16px;
}
#u6840 {
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6841 {
  position:absolute;
  left:100px;
  top:278px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u6843 {
  position:absolute;
  left:156px;
  top:272px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u6844 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6845 {
  position:absolute;
  left:257px;
  top:278px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u6847 {
  position:absolute;
  left:313px;
  top:272px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u6848 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u6849 {
  position:absolute;
  left:95px;
  top:323px;
  width:162px;
  height:16px;
}
#u6850 {
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6849_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6851 {
  position:absolute;
  left:100px;
  top:356px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6852 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u6853 {
  position:absolute;
  left:156px;
  top:350px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u6854 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6855 {
  position:absolute;
  left:257px;
  top:356px;
  width:57px;
  height:16px;
  color:#999999;
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u6857 {
  position:absolute;
  left:313px;
  top:350px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u6858 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u6859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:238px;
}
#u6859 {
  position:absolute;
  left:394px;
  top:151px;
  width:334px;
  height:238px;
}
#u6860 {
  position:absolute;
  left:2px;
  top:111px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:64px;
}
#u6861 {
  position:absolute;
  left:406px;
  top:170px;
  width:326px;
  height:64px;
  color:#999999;
}
#u6862 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u6863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u6863 {
  position:absolute;
  left:406px;
  top:280px;
  width:300px;
  height:80px;
  color:#999999;
}
#u6864 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
