body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10353 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:627px;
}
#u10354 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10355 {
  position:absolute;
  left:257px;
  top:90px;
  width:226px;
  height:58px;
}
#u10356 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10357 {
  position:absolute;
  left:482px;
  top:90px;
  width:226px;
  height:58px;
}
#u10358 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10359 {
  position:absolute;
  left:298px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10360 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10361 {
  position:absolute;
  left:521px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u10362 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10363 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:62px;
}
#u10364 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10365 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u10366 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u10367 {
  position:absolute;
  left:85px;
  top:24px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u10368 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u10369 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u10370 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10371 {
  position:absolute;
  left:33px;
  top:90px;
  width:226px;
  height:58px;
}
#u10372 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10373 {
  position:absolute;
  left:72px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10374 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u10376 {
  position:absolute;
  left:955px;
  top:27px;
  width:34px;
  height:34px;
}
#u10377 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u10378 {
  position:absolute;
  left:1003px;
  top:27px;
  width:34px;
  height:34px;
}
#u10379 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u10380 {
  position:absolute;
  left:907px;
  top:27px;
  width:34px;
  height:34px;
}
#u10381 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10382 {
  position:absolute;
  left:913px;
  top:33px;
  width:22px;
  height:22px;
}
#u10383 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10384 {
  position:absolute;
  left:962px;
  top:34px;
  width:20px;
  height:20px;
}
#u10385 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10386 {
  position:absolute;
  left:1008px;
  top:32px;
  width:24px;
  height:24px;
}
#u10387 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10388 {
  position:absolute;
  left:447px;
  top:103px;
  width:12px;
  height:12px;
}
#u10389 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10390 {
  position:absolute;
  left:221px;
  top:103px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u10391 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10392 {
  position:absolute;
  left:893px;
  top:26px;
  width:144px;
  height:48px;
}
#u10393 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10395 {
  position:absolute;
  left:836px;
  top:36px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10396 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u10397 {
  position:absolute;
  left:797px;
  top:28px;
  width:32px;
  height:32px;
}
#u10398 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10399 {
  position:absolute;
  left:936px;
  top:29px;
  width:22px;
  height:22px;
}
#u10400 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u10402 {
  position:absolute;
  left:471px;
  top:34px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u10403 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u10404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10404 {
  position:absolute;
  left:649px;
  top:37px;
  width:20px;
  height:20px;
}
#u10405 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10406 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10407 {
  position:absolute;
  left:697px;
  top:33px;
  width:26px;
  height:26px;
}
#u10408 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u10409 {
  position:absolute;
  left:714px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u10410 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u10411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u10411 {
  position:absolute;
  left:992px;
  top:36px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u10412 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u10413 {
  position:absolute;
  left:972px;
  top:34px;
  width:1px;
  height:20px;
}
#u10414 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10416 {
  position:absolute;
  left:748px;
  top:33px;
  width:26px;
  height:26px;
}
#u10417 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u10418 {
  position:absolute;
  left:765px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u10419 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u10420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:552px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10420 {
  position:absolute;
  left:17px;
  top:123px;
  width:1022px;
  height:552px;
}
#u10421 {
  position:absolute;
  left:2px;
  top:268px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:536px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10422 {
  position:absolute;
  left:18px;
  top:130px;
  width:178px;
  height:536px;
}
#u10423 {
  position:absolute;
  left:2px;
  top:260px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10424 {
  position:absolute;
  left:79px;
  top:129px;
  width:94px;
  height:546px;
}
#u10425 {
  position:absolute;
  left:2px;
  top:265px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10426 {
  position:absolute;
  left:174px;
  top:129px;
  width:864px;
  height:537px;
}
#u10427 {
  position:absolute;
  left:2px;
  top:260px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u10428 {
  position:absolute;
  left:148px;
  top:226px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10429 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10430 {
  position:absolute;
  left:100px;
  top:141px;
  width:61px;
  height:57px;
  font-size:14px;
}
#u10431 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10432 {
  position:absolute;
  left:100px;
  top:209px;
  width:61px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10433 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10434 {
  position:absolute;
  left:100px;
  top:277px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u10435 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u10436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:498px;
}
#u10436 {
  position:absolute;
  left:183px;
  top:134px;
  width:841px;
  height:498px;
}
#u10437 {
  position:absolute;
  left:2px;
  top:241px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10438 {
  position:absolute;
  left:17px;
  top:512px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10439 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10440 {
  position:absolute;
  left:17px;
  top:140px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10441 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u10442 {
  position:absolute;
  left:17px;
  top:287px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10443 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u10444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10444 {
  position:absolute;
  left:17px;
  top:223px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10445 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u10446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u10446 {
  position:absolute;
  left:17px;
  top:447px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10447 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u10448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10448 {
  position:absolute;
  left:17px;
  top:382px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u10449 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
