body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9658 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:538px;
}
#u9659 {
  position:absolute;
  left:2px;
  top:261px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9660 {
  position:absolute;
  left:14px;
  top:13px;
  width:1022px;
  height:62px;
}
#u9661 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u9662 {
  position:absolute;
  left:48px;
  top:22px;
  width:29px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u9663 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9665 {
  position:absolute;
  left:952px;
  top:26px;
  width:34px;
  height:34px;
}
#u9666 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9667 {
  position:absolute;
  left:1000px;
  top:26px;
  width:34px;
  height:34px;
}
#u9668 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9669 {
  position:absolute;
  left:904px;
  top:26px;
  width:34px;
  height:34px;
}
#u9670 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9671 {
  position:absolute;
  left:910px;
  top:32px;
  width:22px;
  height:22px;
}
#u9672 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9673 {
  position:absolute;
  left:959px;
  top:33px;
  width:20px;
  height:20px;
}
#u9674 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9675 {
  position:absolute;
  left:1005px;
  top:31px;
  width:24px;
  height:24px;
}
#u9676 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9677 {
  position:absolute;
  left:890px;
  top:25px;
  width:144px;
  height:48px;
}
#u9678 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u9679 {
  position:absolute;
  left:91px;
  top:19px;
  width:1px;
  height:49px;
}
#u9680 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u9681 {
  position:absolute;
  left:23px;
  top:30px;
  width:15px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u9682 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u9683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u9683 {
  position:absolute;
  left:134px;
  top:42px;
  width:211px;
  height:33px;
}
#u9684 {
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u9685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u9685 {
  position:absolute;
  left:345px;
  top:42px;
  width:211px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9686 {
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u9687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u9687 {
  position:absolute;
  left:556px;
  top:42px;
  width:211px;
  height:33px;
}
#u9688 {
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u9689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u9689 {
  position:absolute;
  left:767px;
  top:42px;
  width:211px;
  height:33px;
}
#u9690 {
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u9691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:470px;
}
#u9691 {
  position:absolute;
  left:15px;
  top:81px;
  width:752px;
  height:470px;
}
#u9692 {
  position:absolute;
  left:2px;
  top:227px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:467px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9693 {
  position:absolute;
  left:771px;
  top:82px;
  width:263px;
  height:467px;
}
#u9694 {
  position:absolute;
  left:2px;
  top:226px;
  width:259px;
  word-wrap:break-word;
}
#u9695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9695 {
  position:absolute;
  left:332px;
  top:33px;
  width:20px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9696 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u9697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9697 {
  position:absolute;
  left:756px;
  top:33px;
  width:20px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9698 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u9699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9699 {
  position:absolute;
  left:966px;
  top:33px;
  width:20px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9700 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
