body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7998 {
  position:absolute;
  left:15px;
  top:16px;
  width:868px;
  height:497px;
}
#u7999 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8000 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:451px;
}
#u8001 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8002 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u8003 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u8004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:16px;
}
#u8004 {
  position:absolute;
  left:181px;
  top:88px;
  width:543px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u8005 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  white-space:nowrap;
}
#u8006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8007 {
  position:absolute;
  left:81px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8008 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8009 {
  position:absolute;
  left:117px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8010 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8011 {
  position:absolute;
  left:93px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8012 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8014 {
  position:absolute;
  left:207px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8015 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8016 {
  position:absolute;
  left:243px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8017 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8018 {
  position:absolute;
  left:219px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8019 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8021 {
  position:absolute;
  left:333px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8022 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u8023 {
  position:absolute;
  left:369px;
  top:338px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8024 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8025 {
  position:absolute;
  left:345px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8026 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8028 {
  position:absolute;
  left:81px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8029 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8030 {
  position:absolute;
  left:115px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8031 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8032 {
  position:absolute;
  left:93px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8033 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8035 {
  position:absolute;
  left:207px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8036 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8037 {
  position:absolute;
  left:243px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8038 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8039 {
  position:absolute;
  left:219px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8040 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8042 {
  position:absolute;
  left:333px;
  top:121px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8043 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8044 {
  position:absolute;
  left:369px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8045 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8046 {
  position:absolute;
  left:345px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8047 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8049 {
  position:absolute;
  left:456px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8050 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8051 {
  position:absolute;
  left:490px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8052 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8053 {
  position:absolute;
  left:468px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8054 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8056 {
  position:absolute;
  left:581px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8057 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8058 {
  position:absolute;
  left:615px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8059 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8060 {
  position:absolute;
  left:593px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8061 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8063 {
  position:absolute;
  left:714px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8064 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8065 {
  position:absolute;
  left:748px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8066 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8067 {
  position:absolute;
  left:726px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8068 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8070 {
  position:absolute;
  left:81px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8071 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8072 {
  position:absolute;
  left:115px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8073 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8074 {
  position:absolute;
  left:93px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8075 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8077 {
  position:absolute;
  left:207px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8078 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8079 {
  position:absolute;
  left:241px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8080 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8081 {
  position:absolute;
  left:219px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8082 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8084 {
  position:absolute;
  left:714px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8085 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8086 {
  position:absolute;
  left:750px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8087 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8088 {
  position:absolute;
  left:726px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8089 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8091 {
  position:absolute;
  left:333px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8092 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8093 {
  position:absolute;
  left:367px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8094 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8095 {
  position:absolute;
  left:345px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8096 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8098 {
  position:absolute;
  left:456px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8099 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8100 {
  position:absolute;
  left:490px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8101 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8102 {
  position:absolute;
  left:468px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8103 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8105 {
  position:absolute;
  left:581px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8106 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8107 {
  position:absolute;
  left:617px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8108 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8109 {
  position:absolute;
  left:593px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u8111 {
  position:absolute;
  left:48px;
  top:428px;
  width:806px;
  height:1px;
}
#u8112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8113 {
  position:absolute;
  left:517px;
  top:445px;
  width:75px;
  height:31px;
}
#u8114 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u8115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8115 {
  position:absolute;
  left:395px;
  top:445px;
  width:75px;
  height:31px;
}
#u8116 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u8117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u8117 {
  position:absolute;
  left:780px;
  top:45px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u8118 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
