body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8836 {
  position:absolute;
  left:15px;
  top:16px;
  width:868px;
  height:497px;
}
#u8837 {
  position:absolute;
  left:2px;
  top:240px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8838 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:451px;
}
#u8839 {
  position:absolute;
  left:2px;
  top:218px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8840 {
  position:absolute;
  left:48px;
  top:37px;
  width:806px;
  height:39px;
  font-size:16px;
  text-align:left;
}
#u8841 {
  position:absolute;
  left:2px;
  top:10px;
  width:802px;
  word-wrap:break-word;
}
#u8842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:16px;
}
#u8842 {
  position:absolute;
  left:181px;
  top:88px;
  width:543px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u8843 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  white-space:nowrap;
}
#u8844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8845 {
  position:absolute;
  left:81px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8846 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8847 {
  position:absolute;
  left:117px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8848 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8849 {
  position:absolute;
  left:93px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8850 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8852 {
  position:absolute;
  left:207px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8853 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8854 {
  position:absolute;
  left:243px;
  top:338px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8855 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8856 {
  position:absolute;
  left:219px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8857 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8859 {
  position:absolute;
  left:333px;
  top:325px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8860 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u8861 {
  position:absolute;
  left:369px;
  top:338px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8862 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8863 {
  position:absolute;
  left:345px;
  top:368px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8864 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8866 {
  position:absolute;
  left:81px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8867 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8868 {
  position:absolute;
  left:115px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8869 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8870 {
  position:absolute;
  left:93px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8871 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8873 {
  position:absolute;
  left:207px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8874 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8875 {
  position:absolute;
  left:243px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8876 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8877 {
  position:absolute;
  left:219px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8878 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8880 {
  position:absolute;
  left:333px;
  top:121px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8881 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8882 {
  position:absolute;
  left:369px;
  top:134px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8883 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8884 {
  position:absolute;
  left:345px;
  top:164px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8885 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8887 {
  position:absolute;
  left:456px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8888 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8889 {
  position:absolute;
  left:490px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8890 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8891 {
  position:absolute;
  left:468px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8892 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8894 {
  position:absolute;
  left:581px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8895 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8896 {
  position:absolute;
  left:615px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8897 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8898 {
  position:absolute;
  left:593px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8899 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8901 {
  position:absolute;
  left:714px;
  top:121px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8902 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8903 {
  position:absolute;
  left:748px;
  top:134px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8904 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8905 {
  position:absolute;
  left:726px;
  top:165px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8906 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8908 {
  position:absolute;
  left:81px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8909 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8910 {
  position:absolute;
  left:115px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8911 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8912 {
  position:absolute;
  left:93px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8913 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8915 {
  position:absolute;
  left:207px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8916 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8917 {
  position:absolute;
  left:241px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8918 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8919 {
  position:absolute;
  left:219px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8920 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8922 {
  position:absolute;
  left:714px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8923 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8924 {
  position:absolute;
  left:750px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8925 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8926 {
  position:absolute;
  left:726px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8927 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8929 {
  position:absolute;
  left:333px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8930 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8931 {
  position:absolute;
  left:367px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8932 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8933 {
  position:absolute;
  left:345px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8934 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8936 {
  position:absolute;
  left:456px;
  top:222px;
  width:97px;
  height:93px;
  color:#FFFFFF;
}
#u8937 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u8938 {
  position:absolute;
  left:490px;
  top:235px;
  width:31px;
  height:20px;
  color:#FFFFFF;
}
#u8939 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u8940 {
  position:absolute;
  left:468px;
  top:266px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8941 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u8942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u8943 {
  position:absolute;
  left:581px;
  top:222px;
  width:97px;
  height:93px;
  color:#CCCCCC;
}
#u8944 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u8945 {
  position:absolute;
  left:617px;
  top:235px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8946 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8947 {
  position:absolute;
  left:593px;
  top:265px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u8948 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u8949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:2px;
}
#u8949 {
  position:absolute;
  left:48px;
  top:428px;
  width:806px;
  height:1px;
}
#u8950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8951 {
  position:absolute;
  left:517px;
  top:445px;
  width:75px;
  height:31px;
}
#u8952 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u8953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8953 {
  position:absolute;
  left:395px;
  top:445px;
  width:75px;
  height:31px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u8955 {
  position:absolute;
  left:780px;
  top:45px;
  width:59px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u8956 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
