body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2863 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:627px;
}
#u2864 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2865 {
  position:absolute;
  left:257px;
  top:90px;
  width:226px;
  height:58px;
}
#u2866 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2867 {
  position:absolute;
  left:482px;
  top:90px;
  width:226px;
  height:58px;
}
#u2868 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2869 {
  position:absolute;
  left:298px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2870 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2871 {
  position:absolute;
  left:521px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2872 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2873 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:62px;
}
#u2874 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2875 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u2876 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u2877 {
  position:absolute;
  left:85px;
  top:24px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u2878 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2879 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u2880 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2881 {
  position:absolute;
  left:33px;
  top:90px;
  width:226px;
  height:58px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2883 {
  position:absolute;
  left:72px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2886 {
  position:absolute;
  left:955px;
  top:27px;
  width:34px;
  height:34px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2888 {
  position:absolute;
  left:1003px;
  top:27px;
  width:34px;
  height:34px;
}
#u2889 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2890 {
  position:absolute;
  left:907px;
  top:27px;
  width:34px;
  height:34px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2892 {
  position:absolute;
  left:913px;
  top:33px;
  width:22px;
  height:22px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2894 {
  position:absolute;
  left:962px;
  top:34px;
  width:20px;
  height:20px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2896 {
  position:absolute;
  left:1008px;
  top:32px;
  width:24px;
  height:24px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2898 {
  position:absolute;
  left:447px;
  top:103px;
  width:12px;
  height:12px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2900 {
  position:absolute;
  left:221px;
  top:103px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u2901 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2902 {
  position:absolute;
  left:893px;
  top:26px;
  width:144px;
  height:48px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2905 {
  position:absolute;
  left:836px;
  top:36px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2906 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2907 {
  position:absolute;
  left:797px;
  top:28px;
  width:32px;
  height:32px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2909 {
  position:absolute;
  left:936px;
  top:29px;
  width:22px;
  height:22px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u2912 {
  position:absolute;
  left:471px;
  top:34px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u2913 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u2914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2914 {
  position:absolute;
  left:649px;
  top:37px;
  width:20px;
  height:20px;
}
#u2915 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2917 {
  position:absolute;
  left:697px;
  top:33px;
  width:26px;
  height:26px;
}
#u2918 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2919 {
  position:absolute;
  left:714px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u2920 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u2921 {
  position:absolute;
  left:992px;
  top:36px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2923 {
  position:absolute;
  left:972px;
  top:34px;
  width:1px;
  height:20px;
}
#u2924 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2926 {
  position:absolute;
  left:748px;
  top:33px;
  width:26px;
  height:26px;
}
#u2927 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2928 {
  position:absolute;
  left:765px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u2929 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:509px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  position:absolute;
  left:17px;
  top:123px;
  width:1022px;
  height:509px;
}
#u2931 {
  position:absolute;
  left:2px;
  top:246px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:502px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:18px;
  top:130px;
  width:178px;
  height:502px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:243px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2934 {
  position:absolute;
  left:18px;
  top:502px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  position:absolute;
  left:79px;
  top:129px;
  width:94px;
  height:502px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:243px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2938 {
  position:absolute;
  left:18px;
  top:130px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2940 {
  position:absolute;
  left:65px;
  top:134px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u2941 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2942 {
  position:absolute;
  left:174px;
  top:129px;
  width:864px;
  height:502px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:243px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u2944 {
  position:absolute;
  left:148px;
  top:159px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2945 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2946 {
  position:absolute;
  left:100px;
  top:141px;
  width:61px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2947 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2948 {
  position:absolute;
  left:100px;
  top:209px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u2950 {
  position:absolute;
  left:18px;
  top:277px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2951 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2952 {
  position:absolute;
  left:18px;
  top:213px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u2954 {
  position:absolute;
  left:18px;
  top:437px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2956 {
  position:absolute;
  left:100px;
  top:277px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2958 {
  position:absolute;
  left:18px;
  top:372px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u2959 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:328px;
}
#u2960 {
  position:absolute;
  left:183px;
  top:135px;
  width:849px;
  height:328px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:156px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
