body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9125 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:627px;
}
#u9126 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9127 {
  position:absolute;
  left:257px;
  top:90px;
  width:226px;
  height:58px;
}
#u9128 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9129 {
  position:absolute;
  left:482px;
  top:90px;
  width:226px;
  height:58px;
}
#u9130 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9131 {
  position:absolute;
  left:298px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9132 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9133 {
  position:absolute;
  left:521px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9134 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9135 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:62px;
}
#u9136 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9137 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u9138 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u9139 {
  position:absolute;
  left:85px;
  top:24px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u9140 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u9141 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u9142 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9143 {
  position:absolute;
  left:33px;
  top:90px;
  width:226px;
  height:58px;
}
#u9144 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9145 {
  position:absolute;
  left:72px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9146 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9148 {
  position:absolute;
  left:955px;
  top:27px;
  width:34px;
  height:34px;
}
#u9149 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9150 {
  position:absolute;
  left:1003px;
  top:27px;
  width:34px;
  height:34px;
}
#u9151 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9152 {
  position:absolute;
  left:907px;
  top:27px;
  width:34px;
  height:34px;
}
#u9153 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9154 {
  position:absolute;
  left:913px;
  top:33px;
  width:22px;
  height:22px;
}
#u9155 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9156 {
  position:absolute;
  left:962px;
  top:34px;
  width:20px;
  height:20px;
}
#u9157 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9158 {
  position:absolute;
  left:1008px;
  top:32px;
  width:24px;
  height:24px;
}
#u9159 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9160 {
  position:absolute;
  left:447px;
  top:103px;
  width:12px;
  height:12px;
}
#u9161 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9162 {
  position:absolute;
  left:221px;
  top:103px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u9163 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9164 {
  position:absolute;
  left:893px;
  top:26px;
  width:144px;
  height:48px;
}
#u9165 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9167 {
  position:absolute;
  left:836px;
  top:36px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u9168 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9169 {
  position:absolute;
  left:797px;
  top:28px;
  width:32px;
  height:32px;
}
#u9170 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9171 {
  position:absolute;
  left:936px;
  top:29px;
  width:22px;
  height:22px;
}
#u9172 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u9174 {
  position:absolute;
  left:471px;
  top:34px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u9175 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u9176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9176 {
  position:absolute;
  left:649px;
  top:37px;
  width:20px;
  height:20px;
}
#u9177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9179 {
  position:absolute;
  left:697px;
  top:33px;
  width:26px;
  height:26px;
}
#u9180 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9181 {
  position:absolute;
  left:714px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u9182 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u9183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u9183 {
  position:absolute;
  left:992px;
  top:36px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u9184 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u9185 {
  position:absolute;
  left:972px;
  top:34px;
  width:1px;
  height:20px;
}
#u9186 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9188 {
  position:absolute;
  left:748px;
  top:33px;
  width:26px;
  height:26px;
}
#u9189 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9190 {
  position:absolute;
  left:765px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u9191 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u9192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:509px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9192 {
  position:absolute;
  left:17px;
  top:123px;
  width:1022px;
  height:509px;
}
#u9193 {
  position:absolute;
  left:2px;
  top:246px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:502px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9194 {
  position:absolute;
  left:18px;
  top:130px;
  width:178px;
  height:502px;
}
#u9195 {
  position:absolute;
  left:2px;
  top:243px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9196 {
  position:absolute;
  left:18px;
  top:502px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9197 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9198 {
  position:absolute;
  left:79px;
  top:129px;
  width:94px;
  height:502px;
}
#u9199 {
  position:absolute;
  left:2px;
  top:243px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9200 {
  position:absolute;
  left:18px;
  top:130px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9201 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9202 {
  position:absolute;
  left:65px;
  top:134px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u9203 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9204 {
  position:absolute;
  left:174px;
  top:129px;
  width:864px;
  height:502px;
}
#u9205 {
  position:absolute;
  left:2px;
  top:243px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u9206 {
  position:absolute;
  left:148px;
  top:159px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9207 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9208 {
  position:absolute;
  left:100px;
  top:141px;
  width:61px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9209 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9210 {
  position:absolute;
  left:100px;
  top:209px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9211 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u9212 {
  position:absolute;
  left:18px;
  top:277px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9213 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u9214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9214 {
  position:absolute;
  left:18px;
  top:213px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9215 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u9216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u9216 {
  position:absolute;
  left:18px;
  top:437px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9217 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9218 {
  position:absolute;
  left:100px;
  top:277px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9219 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9220 {
  position:absolute;
  left:18px;
  top:372px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9221 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:328px;
}
#u9222 {
  position:absolute;
  left:183px;
  top:135px;
  width:849px;
  height:328px;
}
#u9223 {
  position:absolute;
  left:2px;
  top:156px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
