body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9371 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:627px;
}
#u9372 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9373 {
  position:absolute;
  left:257px;
  top:90px;
  width:226px;
  height:58px;
}
#u9374 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9375 {
  position:absolute;
  left:482px;
  top:90px;
  width:226px;
  height:58px;
}
#u9376 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9377 {
  position:absolute;
  left:298px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9378 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9379 {
  position:absolute;
  left:521px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9380 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9381 {
  position:absolute;
  left:17px;
  top:14px;
  width:1022px;
  height:62px;
}
#u9382 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9383 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u9384 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u9385 {
  position:absolute;
  left:85px;
  top:24px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u9386 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u9387 {
  position:absolute;
  left:33px;
  top:24px;
  width:40px;
  height:40px;
}
#u9388 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9389 {
  position:absolute;
  left:33px;
  top:90px;
  width:226px;
  height:58px;
}
#u9390 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9391 {
  position:absolute;
  left:72px;
  top:98px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9392 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9394 {
  position:absolute;
  left:955px;
  top:27px;
  width:34px;
  height:34px;
}
#u9395 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9396 {
  position:absolute;
  left:1003px;
  top:27px;
  width:34px;
  height:34px;
}
#u9397 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u9398 {
  position:absolute;
  left:907px;
  top:27px;
  width:34px;
  height:34px;
}
#u9399 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9400 {
  position:absolute;
  left:913px;
  top:33px;
  width:22px;
  height:22px;
}
#u9401 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9402 {
  position:absolute;
  left:962px;
  top:34px;
  width:20px;
  height:20px;
}
#u9403 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9404 {
  position:absolute;
  left:1008px;
  top:32px;
  width:24px;
  height:24px;
}
#u9405 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9406 {
  position:absolute;
  left:447px;
  top:103px;
  width:12px;
  height:12px;
}
#u9407 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9408 {
  position:absolute;
  left:221px;
  top:103px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u9409 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9410 {
  position:absolute;
  left:893px;
  top:26px;
  width:144px;
  height:48px;
}
#u9411 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9413 {
  position:absolute;
  left:836px;
  top:36px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u9414 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9415 {
  position:absolute;
  left:797px;
  top:28px;
  width:32px;
  height:32px;
}
#u9416 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9417 {
  position:absolute;
  left:936px;
  top:29px;
  width:22px;
  height:22px;
}
#u9418 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u9420 {
  position:absolute;
  left:471px;
  top:34px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u9421 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u9422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9422 {
  position:absolute;
  left:649px;
  top:37px;
  width:20px;
  height:20px;
}
#u9423 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9425 {
  position:absolute;
  left:697px;
  top:33px;
  width:26px;
  height:26px;
}
#u9426 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9427 {
  position:absolute;
  left:714px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u9428 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u9429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u9429 {
  position:absolute;
  left:992px;
  top:36px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u9430 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u9431 {
  position:absolute;
  left:972px;
  top:34px;
  width:1px;
  height:20px;
}
#u9432 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9434 {
  position:absolute;
  left:748px;
  top:33px;
  width:26px;
  height:26px;
}
#u9435 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9436 {
  position:absolute;
  left:765px;
  top:32px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u9437 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u9438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:509px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9438 {
  position:absolute;
  left:17px;
  top:123px;
  width:1022px;
  height:509px;
}
#u9439 {
  position:absolute;
  left:2px;
  top:246px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:502px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9440 {
  position:absolute;
  left:18px;
  top:130px;
  width:178px;
  height:502px;
}
#u9441 {
  position:absolute;
  left:2px;
  top:243px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9442 {
  position:absolute;
  left:18px;
  top:502px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9443 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9444 {
  position:absolute;
  left:79px;
  top:129px;
  width:94px;
  height:502px;
}
#u9445 {
  position:absolute;
  left:2px;
  top:243px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9446 {
  position:absolute;
  left:18px;
  top:130px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9447 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9448 {
  position:absolute;
  left:65px;
  top:134px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u9449 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9450 {
  position:absolute;
  left:174px;
  top:129px;
  width:864px;
  height:502px;
}
#u9451 {
  position:absolute;
  left:2px;
  top:243px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u9452 {
  position:absolute;
  left:148px;
  top:159px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9453 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9454 {
  position:absolute;
  left:100px;
  top:141px;
  width:61px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9455 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9456 {
  position:absolute;
  left:100px;
  top:209px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9457 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u9458 {
  position:absolute;
  left:18px;
  top:277px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9459 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u9460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9460 {
  position:absolute;
  left:18px;
  top:213px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9461 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u9462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u9462 {
  position:absolute;
  left:18px;
  top:437px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9463 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9464 {
  position:absolute;
  left:100px;
  top:277px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u9465 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u9466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9466 {
  position:absolute;
  left:18px;
  top:372px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u9467 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u9468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:328px;
}
#u9468 {
  position:absolute;
  left:183px;
  top:135px;
  width:849px;
  height:328px;
}
#u9469 {
  position:absolute;
  left:2px;
  top:156px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
