body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:399px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5698 {
  position:absolute;
  left:10px;
  top:20px;
  width:597px;
  height:399px;
}
#u5699 {
  position:absolute;
  left:2px;
  top:192px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5700 {
  position:absolute;
  left:72px;
  top:107px;
  width:478px;
  height:30px;
}
#u5701 {
  position:absolute;
  left:2px;
  top:7px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5702 {
  position:absolute;
  left:86px;
  top:114px;
  width:57px;
  height:16px;
}
#u5703 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5704 {
  position:absolute;
  left:511px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u5706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5706 {
  position:absolute;
  left:72px;
  top:136px;
  width:478px;
  height:196px;
}
#u5707 {
  position:absolute;
  left:2px;
  top:90px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5708 {
  position:absolute;
  left:332px;
  top:245px;
  width:75px;
  height:31px;
}
#u5709 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5710 {
  position:absolute;
  left:210px;
  top:245px;
  width:75px;
  height:31px;
}
#u5711 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5712 {
  position:absolute;
  left:117px;
  top:179px;
  width:383px;
  height:19px;
  font-size:16px;
}
#u5713 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5714 {
  position:absolute;
  left:117px;
  top:208px;
  width:309px;
  height:16px;
  color:#999999;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u5716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:399px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5716 {
  position:absolute;
  left:0px;
  top:20px;
  width:597px;
  height:399px;
}
#u5717 {
  position:absolute;
  left:2px;
  top:192px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
