body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:6px;
  top:71px;
  width:1022px;
  height:627px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:306px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4998 {
  position:absolute;
  left:246px;
  top:147px;
  width:226px;
  height:58px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:471px;
  top:147px;
  width:226px;
  height:58px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u5002 {
  position:absolute;
  left:287px;
  top:155px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u5004 {
  position:absolute;
  left:510px;
  top:155px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:62px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5006 {
  position:absolute;
  left:6px;
  top:71px;
  width:1022px;
  height:62px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:23px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5008 {
  position:absolute;
  left:22px;
  top:81px;
  width:40px;
  height:40px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u5010 {
  position:absolute;
  left:74px;
  top:81px;
  width:91px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5012 {
  position:absolute;
  left:22px;
  top:81px;
  width:40px;
  height:40px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5014 {
  position:absolute;
  left:22px;
  top:147px;
  width:226px;
  height:58px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:21px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5016 {
  position:absolute;
  left:61px;
  top:155px;
  width:91px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u5019 {
  position:absolute;
  left:944px;
  top:84px;
  width:34px;
  height:34px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u5021 {
  position:absolute;
  left:992px;
  top:84px;
  width:34px;
  height:34px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u5023 {
  position:absolute;
  left:896px;
  top:84px;
  width:34px;
  height:34px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5025 {
  position:absolute;
  left:902px;
  top:90px;
  width:22px;
  height:22px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5027 {
  position:absolute;
  left:951px;
  top:91px;
  width:20px;
  height:20px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5029 {
  position:absolute;
  left:997px;
  top:89px;
  width:24px;
  height:24px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5031 {
  position:absolute;
  left:436px;
  top:160px;
  width:12px;
  height:12px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5033 {
  position:absolute;
  left:210px;
  top:160px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u5034 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5035 {
  position:absolute;
  left:882px;
  top:83px;
  width:144px;
  height:48px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5038 {
  position:absolute;
  left:825px;
  top:93px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5040 {
  position:absolute;
  left:786px;
  top:85px;
  width:32px;
  height:32px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5042 {
  position:absolute;
  left:925px;
  top:86px;
  width:22px;
  height:22px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.776470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u5045 {
  position:absolute;
  left:460px;
  top:91px;
  width:205px;
  height:26px;
  color:#AEAEAE;
  text-align:left;
}
#u5046 {
  position:absolute;
  left:2px;
  top:5px;
  width:201px;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5047 {
  position:absolute;
  left:638px;
  top:94px;
  width:20px;
  height:20px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5050 {
  position:absolute;
  left:686px;
  top:90px;
  width:26px;
  height:26px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5052 {
  position:absolute;
  left:703px;
  top:89px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u5053 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u5054 {
  position:absolute;
  left:981px;
  top:93px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#F2F2F2;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5056 {
  position:absolute;
  left:961px;
  top:91px;
  width:1px;
  height:20px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5059 {
  position:absolute;
  left:737px;
  top:90px;
  width:26px;
  height:26px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5061 {
  position:absolute;
  left:754px;
  top:89px;
  width:24px;
  height:12px;
  font-size:10px;
  color:#FFFFFF;
}
#u5062 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:509px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5063 {
  position:absolute;
  left:6px;
  top:180px;
  width:1022px;
  height:509px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:246px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:502px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5065 {
  position:absolute;
  left:7px;
  top:187px;
  width:178px;
  height:502px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:243px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:68px;
  top:186px;
  width:94px;
  height:502px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:243px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u5069 {
  position:absolute;
  left:136px;
  top:572px;
  width:27px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5070 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5071 {
  position:absolute;
  left:88px;
  top:271px;
  width:61px;
  height:57px;
  font-size:14px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5073 {
  position:absolute;
  left:88px;
  top:205px;
  width:61px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5074 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5075 {
  position:absolute;
  left:88px;
  top:410px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5077 {
  position:absolute;
  left:88px;
  top:482px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5079 {
  position:absolute;
  left:88px;
  top:552px;
  width:61px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5080 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5081 {
  position:absolute;
  left:88px;
  top:340px;
  width:61px;
  height:56px;
  font-size:14px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:16px;
}
#u5083 {
  position:absolute;
  left:24px;
  top:13px;
  width:699px;
  height:16px;
}
#u5084 {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5085 {
  position:absolute;
  left:7px;
  top:501px;
  width:61px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5087 {
  position:absolute;
  left:6px;
  top:187px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5089 {
  position:absolute;
  left:54px;
  top:273px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u5090 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u5091 {
  position:absolute;
  left:6px;
  top:334px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5093 {
  position:absolute;
  left:6px;
  top:270px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u5095 {
  position:absolute;
  left:6px;
  top:566px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5097 {
  position:absolute;
  left:6px;
  top:436px;
  width:61px;
  height:65px;
  font-size:14px;
}
#u5098 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5099 {
  position:absolute;
  left:54px;
  top:198px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(186deg);
  -moz-transform:rotate(186deg);
  -ms-transform:rotate(186deg);
  transform:rotate(186deg);
}
#u5100 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5101 {
  position:absolute;
  left:173px;
  top:186px;
  width:848px;
  height:489px;
}
#u5102 {
  position:absolute;
  left:2px;
  top:236px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:169px;
}
#u5103 {
  position:absolute;
  left:185px;
  top:213px;
  width:821px;
  height:169px;
}
#u5104 {
  position:absolute;
  left:2px;
  top:76px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
