body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:819px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:668px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:-27px;
  top:54px;
  width:873px;
  height:668px;
}
#u822 {
  position:absolute;
  left:2px;
  top:326px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:536px;
}
#u823 {
  position:absolute;
  left:15px;
  top:128px;
  width:792px;
  height:536px;
}
#u824 {
  position:absolute;
  left:2px;
  top:260px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
